<template>
  <NuxtLoadingIndicator color="#1991E1"/>

  <Navbar/>
  <NuxtPage class="page-content"/>
  <Footer/>

  <CookieControl locale="en">
    <template #bar>
      <h2>Cookies</h2>
      <p>We use cookies to display this website accurately and optimize the services we offer. Click “Accept” to accept
        all cookies, or customize your preferences with “Learn more and customize”. You can always change your
        preferences on the cookies by clicking on the cookie button. </p>
    </template>
    <template #modal>
      <h2>Cookies</h2>
      <p>For more information on the cookies we use and the actions we take on them, check out our
        <NuxtLink to="/privacy-policy" @click="isModalActive = false">Privacy Policy.</NuxtLink>
      </p>
    </template>
  </CookieControl>
</template>

<style>
.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}

.page-enter-from {
  opacity: 0;
  transform: translateY(5px);
}
</style>
<script setup lang="ts">
const route = useRoute()

const {
  cookiesEnabled,
  cookiesEnabledIds,
  isConsentGiven,
  isModalActive,
  moduleOptions,
} = useCookieControl()

// example: react to a cookie being accepted
watch(
    () => cookiesEnabledIds.value,
    (current, previous) => {
      if (
          !previous?.includes('google-analytics') &&
          current?.includes('google-analytics')
      ) {
        // cookie with id `google-analytics` got added
        window.location.reload() // placeholder for your custom change handler
      }
    },
    {deep: true},
)
</script>