$fontPath: "~assets/fonts/";

//@font-face {
//  font-family: "Fulbo";
//  src: url("#{$fontPath}fulbo.woff2") format("woff2"),
//  url("#{$fontPath}fulbo.woff") format("woff");
//  font-weight: 600;
//  font-style: normal;
//  font-display: swap;
//}