.site-width {
  width: 100%;
  max-width: var(--site-max-width);
  margin-left: auto;
  margin-right: auto;
}

.section-padding {
  @extend .section-padding-x;
  @extend .section-padding-y;

  &-x {
    padding-left: calc(var(--section-padding-x) * var(--section-padding-scale-x));
    padding-right: calc(var(--section-padding-x) * var(--section-padding-scale-x));
    @screen sm {
      padding-left: calc(var(--section-padding-x-sm) * var(--section-padding-scale-x));
      padding-right: calc(var(--section-padding-x-sm) * var(--section-padding-scale-x));
    }
    @screen md {
      padding-left: calc(var(--section-padding-x-md) * var(--section-padding-scale-x));
      padding-right: calc(var(--section-padding-x-md) * var(--section-padding-scale-x));
    }
    @screen lg {
      padding-left: calc(var(--section-padding-x-lg) * var(--section-padding-scale-x));
      padding-right: calc(var(--section-padding-x-lg) * var(--section-padding-scale-x));
    }
  }

  &-y {
    padding-top: calc(var(--section-padding-y) * var(--section-padding-scale-y));
    padding-bottom: calc(var(--section-padding-y) * var(--section-padding-scale-y));
    @screen sm {
      padding-top: calc(var(--section-padding-y-sm) * var(--section-padding-scale-y));
      padding-bottom: calc(var(--section-padding-y-sm) * var(--section-padding-scale-y));
    }
    @screen md {
      padding-top: calc(var(--section-padding-y-md) * var(--section-padding-scale-y));
      padding-bottom: calc(var(--section-padding-y-md) * var(--section-padding-scale-y));
    }
    @screen lg {
      padding-top: calc(var(--section-padding-y-lg) * var(--section-padding-scale-y));
      padding-bottom: calc(var(--section-padding-y-lg) * var(--section-padding-scale-y));
    }
  }

  &-t {
    padding-top: calc(var(--section-padding-y) * var(--section-padding-scale-y));
    @screen sm {
      padding-top: calc(var(--section-padding-y-sm) * var(--section-padding-scale-y));
    }
    @screen md {
      padding-top: calc(var(--section-padding-y-md) * var(--section-padding-scale-y));
    }
    @screen lg {
      padding-top: calc(var(--section-padding-y-lg) * var(--section-padding-scale-y));
    }
  }

  &-b {
    padding-bottom: calc(var(--section-padding-y) * var(--section-padding-scale-y));
    @screen sm {
      padding-bottom: calc(var(--section-padding-y-sm) * var(--section-padding-scale-y));
    }
    @screen md {
      padding-bottom: calc(var(--section-padding-y-md) * var(--section-padding-scale-y));
    }
    @screen lg {
      padding-bottom: calc(var(--section-padding-y-lg) * var(--section-padding-scale-y));
    }
  }
}

.-section-padding {
  @extend .-section-padding-x;
  @extend .-section-padding-y;

  &-x {
    padding-left: calc(var(--section-padding-x) * -1 * var(--section-padding-scale-x));
    padding-right: calc(var(--section-padding-x) * -1 * var(--section-padding-scale-x));
    @screen sm {
      padding-left: calc(var(--section-padding-x-sm) * -1 * var(--section-padding-scale-x));
      padding-right: calc(var(--section-padding-x-sm) * -1 * var(--section-padding-scale-x));
    }
    @screen md {
      padding-left: calc(var(--section-padding-x-md) * -1 * var(--section-padding-scale-x));
      padding-right: calc(var(--section-padding-x-md) * -1 * var(--section-padding-scale-x));
    }
    @screen lg {
      padding-left: calc(var(--section-padding-x-lg) * -1 * var(--section-padding-scale-x));
      padding-right: calc(var(--section-padding-x-lg) * -1 * var(--section-padding-scale-x));
    }
  }

  &-y {
    padding-top: calc(var(--section-padding-y) * -1 * var(--section-padding-scale-y));
    padding-bottom: calc(var(--section-padding-y) * -1 * var(--section-padding-scale-y));
    @screen sm {
      padding-top: calc(var(--section-padding-y-sm) * -1 * var(--section-padding-scale-y));
      padding-bottom: calc(var(--section-padding-y-sm) * -1 * var(--section-padding-scale-y));
    }
    @screen md {
      padding-top: calc(var(--section-padding-y-md) * -1 * var(--section-padding-scale-y));
      padding-bottom: calc(var(--section-padding-y-md) * -1 * var(--section-padding-scale-y));
    }
    @screen lg {
      padding-top: calc(var(--section-padding-y-lg) * -1 * var(--section-padding-scale-y));
      padding-bottom: calc(var(--section-padding-y-lg) * -1 * var(--section-padding-scale-y));
    }
  }
}

.section-padding-sm {
  --section-padding-scale-x: 0.75;
  --section-padding-scale-y: 0.75;

  &-x {
    --section-padding-scale-x: 0.75;
  }

  &-y {
    --section-padding-scale-y: 0.75;
  }

}


.section-padding-lg {
  --section-padding-scale-x: 1.5;
  --section-padding-scale-y: 1.5;

  &-x {
    --section-padding-scale-x: 1.5;
  }

  &-y {
    --section-padding-scale-y: 1.5;
  }
}
