body {
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
}

.font-heading {
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight, 800);
}

.font-title {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight, 800);
}


.heading, .prose .font-heading {
  @apply text-3xl sm:text-3xl md:text-4xl lg:text-5xl mb-2 md:mb-4 leading-none;
  align-items: baseline;

  &-lg {
    @apply text-4xl sm:text-4xl md:text-5xl lg:text-6xl mb-2 md:mb-6 leading-none;
    align-items: baseline;
  }

  &-sm {
    @apply text-2xl sm:text-2xl md:text-3xl lg:text-4xl mb-2 md:mb-3 leading-none;
    align-items: baseline;
  }

  &-xs {
    @apply text-xl sm:text-xl md:text-2xl lg:text-3xl mb-2 md:mb-3 leading-none;
    align-items: baseline;
  }

  &-subtitle {
    @apply text-xl sm:text-2xl md:text-3xl;
  }

  &-text {
    @apply text-lg;
    max-width: 65ch;
  }
}

.prose {
  > div > * {
    max-width: 800px;
  }

  // unset the overriding link font-weight in all headers
  h1, h2, h3, h4, h5, h6 {
    a {
      font-weight: inherit;
      @apply no-underline;
      color: inherit;
    }
  }

  ul:where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    list-style-type: none;

    > li {
      text-indent: -1.25em;
    }

    > li:before {
      content: "";
      transform: translateY(-0.08em) rotate(45deg);
      transform-origin: center;
      width: 0.5em;
      height: 0.5em;
      margin-right: 0.75em;
      display: inline-block;
      @apply bg-brand-500 border border-brand-500;
    }

    li:nth-child(6n + 1):before {
      @apply bg-brand-400 border-brand-400;
    }

    li:nth-child(6n + 2):before {
      @apply bg-brand-500 border-brand-500;
    }

    li:nth-child(6n + 3):before {
      @apply bg-brand-600 border-brand-600;
    }

    li:nth-child(6n + 4):before {
      @apply bg-brand-700 border-brand-700;
    }

    li:nth-child(6n + 5):before {
      @apply bg-brand-600 border-brand-600;
    }

    li:nth-child(6n + 6):before {
      @apply bg-brand-500 border-brand-500;
    }

    ul > li:before {
      background: transparent !important;
    }
  }

  ol:where(ol):not(:where([class~="not-prose"],[class~="not-prose"] *)) {

    > li {
      text-indent: 0em;
    }

    > li::marker {
      font-weight: 600;
      @apply font-alt;
    }

    li:nth-child(6n + 1)::marker {
      @apply text-brand-800 dark:text-brand-300;
    }

    li:nth-child(6n + 2)::marker {
      @apply text-brand-700 dark:text-brand-400;
    }

    li:nth-child(6n + 3)::marker {
      @apply text-brand-600 dark:text-brand-500;
    }

    li:nth-child(6n + 4)::marker {
      @apply text-brand-500 dark:text-brand-600;
    }

    li:nth-child(6n + 5)::marker {
      @apply text-brand-600 dark:text-brand-500;
    }

    li:nth-child(6n + 6)::marker {
      @apply text-brand-700 dark:text-brand-400;
    }
  }
}

.lead, [class~="lead"], .prose .lead {
  @apply text-lg;
  max-width: 65ch;
}

.toc-enabled {
  .prose {
    h1, h2, h3, h4, h5, h6 {
      position: relative;

      a {
        @apply no-underline;
      }

      &::marker {
        content: "#";
        font-style: italic;
        display: none;
        position: absolute;
        left: -1.1em;
        width: 1em;
        height: 1em;
        @apply text-tertiary-400 font-semibold;
      }

      &:hover:before {
        // show the before element when the header is hovered
        @apply hidden md:block;
      }
    }
  }
}