<template>
  <div class="approach-container site-width relative">
    <div class="approach-runway">
      <NuxtImg src="/assets/runway-plane.png" id="runway-plane" alt="Runway lines" width="150"/>
    </div>
    <div class="approach-items">
      <!--      <div class="approach-spacer"></div>-->

      <div class="approach-item">
        <div class="approach-step">1</div>
        <h3 class="approach-title">Use-case building</h3>
        <div class="approach-text">
          Share your challenges, in order to find the best approach to them.
        </div>

      </div>
      <div class="approach-item">
        <div class="approach-step">2</div>
        <h3 class="approach-title">Data interaction</h3>
        <div class="approach-text">
          GraphPolaris integrates and models your data into the software for you.
        </div>
        <div class="">
          <div class="approach-feature">Product module:</div>
          <div class="flex flex-row gap-2 flex-wrap">
            <UButton color="tertiary" variant="outline" to="/#fabrick" trailing-icon="ion:arrow-forward"
                     label="FaBrick"/>
            <UButton color="tertiary" variant="outline" to="/#modelbuilder" trailing-icon="ion:arrow-forward"
                     label="ModelBuilder"/>
          </div>
        </div>
      </div>
      <div class="approach-item">
        <div class="approach-step">3</div>
        <h3 class="approach-title">Query building</h3>
        <div class="approach-text">
          Investigate your data and push it for rule-finding.
        </div>
        <div class="">
          <div class="approach-feature">Product module:</div>
          <UButton color="tertiary" variant="outline" to="/#querycoach" trailing-icon="ion:arrow-forward"
                   label="QueryCoach"/>
        </div>
      </div>
      <div class="approach-item">
        <div class="approach-step">4</div>
        <h3 class="approach-title">Augmentation</h3>
        <div class="approach-text">
          Determine corrective and predictive augmentation scenarios with the best visualization for your task.
        </div>
        <div class="">
          <div class="approach-feature">Product module:</div>
          <UButton color="tertiary" variant="outline" to="/#augmentor" trailing-icon="ion:arrow-forward"
                   label="Augmentor"/>
        </div>
      </div>
      <div class="approach-item">
        <div class="approach-step">5</div>
        <h3 class="approach-title">Insights sharing</h3>
        <div class="approach-text">
          Visualize and narrate the generated insights from your journey.
        </div>
        <div class="">
          <div class="approach-feature">Product module:</div>
          <UButton color="tertiary" variant="outline" to="/#insight" trailing-icon="ion:arrow-forward" label="InSight"/>
        </div>
      </div>
      <div class="approach-item">
        <div class="approach-step">6</div>
        <h3 class="approach-title">Adoption and impact</h3>
        <div class="approach-text">
          Forge a path toward overcoming challenges and creating a positive impact in your industry.
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
:root {
  --runway-width: 100px;
  --approach-inset: 0.5rem;
  @screen sm {
    --runway-width: 160px;
  }
  @screen md {
    --runway-width: 240px;
    --approach-inset: 1rem;
  }
  @screen lg {
    --runway-width: 300px;
  }
}

#runway-plane {
  @apply -mb-3 md:-mb-8;
  position: sticky;
  top: 45vh;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
}

.approach-container {
  @apply relative mt-8 pb-8 md:pb-16;
}

.approach-runway {
  background-image: url("/assets/images/runway-lines.svg");
  position: relative;
  background-repeat: repeat-y;
  background-size: 100% auto;
  @apply bg-tertiary-900 absolute -top-4 md:left-1/2 md:-translate-x-1/2 -bottom-4;
  width: var(--runway-width, 100px);
}

.approach-items {
  @apply flex flex-col gap-16 md:gap-0 py-4 relative;
}

.approach-item {
  @apply bg-light p-4 md:p-6 relative ml-auto md:ml-0 shadow;
  z-index: 1;
  transition: transform 0.2s ease-out; /* Smooth transition for parallax effect */
  will-change: transform; /* Optimize performance */
  width: calc(100% - (var(--runway-width, 100px) - var(--approach-inset, 1rem)));
  @screen md {
    width: calc(50% - (var(--runway-width, 100px) / 2) + var(--approach-inset, 1rem));
  }
  &:has(> .active) {
    @apply transform scale-105 shadow-lg;
    .approach-title {
      @apply text-primary-600;
    }
  }

  .approach-step {
    @apply text-lg md:text-2xl font-bold text-light;
    position: absolute;
    top: -0.8em;
    left: calc(var(--approach-inset, 1em) * -1.25);
    width: 1.7em;
    height: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;


    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotate(-45deg);
      transform-origin: center center;
      @apply bg-tertiary-500 -z-10 transition duration-500;
    }

    &.active:before {
      @apply bg-brand-500;
    }

  }

  .approach-title {
    @apply text-lg md:text-xl font-semibold text-tertiary-900;
  }

  .approach-text {
    @apply text-base text-tertiary-600;
  }

  .approach-feature {
    @apply text-xs text-tertiary-400 mt-2 mb-1 uppercase ;
  }

  .approach-feat {
    @apply text-secondary-600 bg-secondary-100 px-2 py-1 rounded-lg;
  }

  @screen md {

    &:nth-child(even) {
      margin-left: auto;
    }

    &:nth-child(odd) {
      .approach-step {
        left: auto;
        right: calc(var(--approach-inset, 1em) * -1.25);
      }
    }

    &:not(:first-of-type) {
      margin-top: -4rem;
    }
  }

}
</style>

<script setup>
const isActive = ref(new Array(6).fill(false)); // Assuming there are 6 approach-step elements

function updateActiveStep() {
  const planeElement = document.getElementById('runway-plane');
  const stepsElements = document.querySelectorAll('.approach-step');
  const planeCenter = planeElement.getBoundingClientRect().top + (planeElement.offsetHeight / 2);
  let closestIndex = -1;
  let closestDistance = Infinity;

  stepsElements.forEach((step, index) => {
    const stepCenter = step.getBoundingClientRect().bottom + (step.offsetHeight / 2);
    const distance = Math.abs(planeCenter - stepCenter);
    if (distance < closestDistance) {
      closestDistance = distance;
      closestIndex = index;
    }
  });

  isActive.value.forEach((_, index) => {
    isActive.value[index] = index === closestIndex;
  });

  // Apply or remove the "active" class based on isActive array
  stepsElements.forEach((step, index) => {
    if (isActive.value[index]) {
      step.classList.add('active');
    } else {
      step.classList.remove('active');
    }
  });
}

// Remember to define the "active" class in your styles

function onScroll() {
  updateActiveStep();
}

onMounted(() => {
  window.addEventListener('scroll', onScroll);
  updateActiveStep(); // Initial check
});

onUnmounted(() => {
  window.removeEventListener('scroll', onScroll);
});

</script>