<template>
  <div
      class="flex flex-row sm:flex-col gap-2 sm:gap-0 sm:border sm:dark:bg-tertiary-950 sm:border-tertiary-200 dark:border-tertiary-700 sm:p-4 md:p-6"
  >
    <div class="shrink-0">
      <img :src="image" :alt="title" class="w-24 sm:w-32 md:w-40 shrink-0"/>
    </div>
    <!-- <div class="shrink-0 flex justify-center">
      <img :src="image" :alt="title" class="w-24 sm:w-32 md:w-40 shrink-0" />
    </div> -->
    <div class="py-3 md:py-0 sm:pt-0 grow">
      <h3
          class="text-base md:text-lg font-title leading-snug pb-1 capitalize"
      >
        {{ title }}
      </h3>
      <p>{{ description }}</p>
      <p class="text-tertiary-400 italic pt-2">{{ benefits }}</p>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  image: String,
  alt: String,
  title: String,
  description: String,
  benefits: String,
});
</script>
