<template>
  <div class="">
    <div class="flex flex-col justify-center items-center relative">
      <div
          class="flex justify-evenly items-center md:py-8 overflow-x-auto section-padding-x w-full max-w-[840px] overflow-hidden">
        <div v-for="(feature, index) in featureItems" :key="index" :id="feature.id" class="feature-top-margin">
          <button @click="features.slideTo(index)"
                  :class="{ active: currentSlideIndex === index }" class="feature-btn">
            <NuxtIcon :name="feature.icon" class="icon"/>
            <span v-html="feature.name"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="main-gallery swiper slides-same-height w-full overflow-hidden relative section-padding-x">
      <div class="swiper-wrapper py-2">

        <div v-for="(feature, index) in featureItems" :key="index" :data-hash="feature.id"
             class="swiper-slide feature-slide h-auto">

          <div
              class="flex flex-col w-full items-center justify-start card rounded-xl overflow-hidden dark:card-invert">

            <div class="text-xl feature-title md:hidden flex justify-center items-center gap-1.5 pt-4">
              <NuxtIcon :name="feature.icon" class="text-3xl"/>
              {{ feature.name }}
            </div>
            <div class="feature-image flex flex-col overflow-hidden">
              <div class="swiper-zoom-container">
                <NuxtImg
                    :src="feature.image"
                    :alt="feature.name"
                    width="1200"
                    fit="contain"
                    format="webp"
                    background="white"
                    class=""
                    loading="lazy"
                />
              </div>
            </div>

            <div class="feature-text ">
              {{ feature.text }}
            </div>
          </div>
        </div>


        <!--      <div data-hash="fabrick" class="swiper-slide feature-slide">-->

        <!--        <div class="flex flex-col items-center justify-center">-->
        <!--          <h3 class="text-xl feature-title">FaBrick</h3>-->
        <!--          <div class="feature-text">-->
        <!--            Integration of your data to our product. <br>We are currently supporting several Graph DataBases.-->
        <!--          </div>-->
        <!--          <div class="grid grid-cols-3 py-4 gap-8 md:gap-16 items-center bg-light p-8 rounded-xl">-->
        <!--            <NuxtPicture-->
        <!--                src="/images/home/db-dgraph.svg"-->
        <!--                alt="Dgraph"-->
        <!--                class="db-logo"-->
        <!--                width="300"-->
        <!--            />-->
        <!--            <NuxtPicture-->
        <!--                src="/images/home/db-gql.svg"-->
        <!--                alt="Dgraph"-->
        <!--                class="db-logo"-->
        <!--                width="300"-->
        <!--            />-->
        <!--            <NuxtPicture-->
        <!--                src="/images/home/db-arangodb.svg"-->
        <!--                alt="Dgraph"-->
        <!--                class="db-logo"-->
        <!--                width="300"-->
        <!--            />-->

        <!--            <NuxtPicture-->
        <!--                src="/images/home/db-neo4j.svg"-->
        <!--                alt="Dgraph"-->
        <!--                class="db-logo"-->
        <!--                width="300"-->
        <!--            />-->
        <!--            <NuxtPicture-->
        <!--                src="/images/home/db-amazonneptune.svg"-->
        <!--                alt="Dgraph"-->
        <!--                class="db-logo"-->
        <!--                width="300"-->
        <!--                height="100"-->
        <!--            />-->
        <!--            <NuxtPicture-->
        <!--                src="/images/home/db-tigergraph.svg"-->
        <!--                alt="Dgraph"-->
        <!--                class="db-logo"-->
        <!--                width="300"-->
        <!--            />-->

        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--      <div data-hash="modelbuilder" class="swiper-slide feature-slide">-->
        <!--        <div class="flex flex-col items-center justify-center">-->
        <!--          <h3 class="text-xl feature-title">ModelBuilder</h3>-->
        <!--          <div class="feature-text">-->
        <!--            GraphPolaris models your data for you to inspect it further.-->
        <!--          </div>-->
        <!--          <NuxtImg-->
        <!--              src="/assets/placeholder.jpg"-->
        <!--              alt="placeholder"-->
        <!--              width="1200" height="900"-->
        <!--              class="w-1/3 md:w-1/2"-->
        <!--              loading="lazy"-->
        <!--          />-->
        <!--        </div>-->
        <!--      </div>-->
        <!--      <div data-hash="querycoach" class="swiper-slide feature-slide">-->
        <!--        <div class="flex flex-col items-center justify-center">-->
        <!--          <h3 class="text-xl feature-title">QueryCoach</h3>-->
        <!--          <div class="feature-text">-->
        <!--            Get a first simple glance at your data and its relationships. Visually inspect its components and how they-->
        <!--            are connected to each other. Build your first hypotheses on your questions.-->
        <!--          </div>-->


        <!--          <NuxtImg-->
        <!--              src="/assets/placeholder.jpg"-->
        <!--              alt="placeholder"-->
        <!--              width="1200" height="900"-->
        <!--              class="w-1/3 md:w-1/2"-->
        <!--              loading="lazy"-->
        <!--          />-->
        <!--        </div>-->
        <!--      </div>-->
        <!--      <div data-hash="augmentor" class="swiper-slide feature-slide">-->
        <!--        <div class="flex flex-col items-center justify-center">-->
        <!--          <h3 class="text-xl feature-title">Augmentor</h3>-->
        <!--          <div class="feature-text">-->
        <!--            Providing the ‘best’ visualization to your question.-->
        <!--            Not the one for you? Explore our other visualizations and how they answer your task.-->
        <!--          </div>-->
        <!--          <NuxtImg-->
        <!--              src="/assets/placeholder.jpg"-->
        <!--              alt="placeholder"-->
        <!--              width="1200" height="900"-->
        <!--              class="w-1/3 md:w-1/2"-->
        <!--              loading="lazy"-->
        <!--          />-->
        <!--        </div>-->
        <!--      </div>-->
        <!--      <div data-hash="insight" class="swiper-slide feature-slide">-->
        <!--        <div class="flex flex-col items-center justify-center">-->
        <!--          <h3 class="text-xl feature-title">InSight</h3>-->
        <!--          <div class="feature-text">-->

        <!--          </div>-->
        <!--          <NuxtImg-->
        <!--              src="/assets/placeholder.jpg"-->
        <!--              alt="placeholder"-->
        <!--              width="1200" height="900"-->
        <!--              class="w-1/3 md:w-1/2"-->
        <!--              loading="lazy"-->
        <!--          />-->
        <!--        </div>-->
        <!--      </div>-->
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
//.db-logo {
//  width: 100%;
//  max-height: 5rem;
//
//  img {
//    width: 100%;
//    max-height: 5rem;
//    object-fit: contain;
//  }
//}
.swiper-button-prev {
  @apply left-3 md:left-8 lg:left-16;
}

.swiper-button-next {
  @apply right-3 md:right-8 lg:right-16;
}

.main-gallery {
  --swiper-navigation-size: 3rem;
  --swiper-navigation-sides-offset: 0px;
  @screen md {
    --swiper-navigation-size: 4rem;
  }
  @screen lg {
    --swiper-navigation-size: 5rem;
  }

  .swiper-slide {
    @apply scale-90 opacity-30 transition-all;
  }

  .swiper-slide-active {
    @apply scale-100 opacity-100;
  }
}

.feature-top-margin {
  // set a space for the anchor links
  scroll-margin-top: 4.5rem;
  @screen md {
    scroll-margin-top: 1rem;
  }
}

.feature-title {
  @apply mb-2 text-primary-600 dark:text-primary-600 font-semibold opacity-0 transition-all duration-700 delay-300 -translate-y-1;
}

.feature-text {
  width: 65ch;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  @apply py-4 text-tertiary-900 text-base sm:text-lg opacity-0 transition-all duration-700 delay-300 translate-y-1;
}

.swiper-slide-active {
  .feature-text {
    @apply opacity-100 translate-y-0;
  }

  .feature-title {
    @apply opacity-100 translate-y-0;
  }
}

.feature-image {
  @apply w-full flex items-center justify-center;
  position: relative;
  max-width: 80vw;

  img {
    width: 100%;
    max-height: 60vh;
    object-fit: contain;
  }
}

.feature-slide {
  //max-height: 80vh;
}

.feature-btn {
  @apply hidden md:flex flex-col items-center justify-center p-1 sm:p-2 md:p-4 relative transition-all translate-y-0 outline-none text-tertiary-600 dark:text-tertiary-400 hover:text-primary-600 dark:hover:text-primary-500;
  .icon {
    @apply w-8 h-8 sm:w-10 sm:h-10 md:w-10 md:h-10;
  }

  span {
    @apply text-xs sm:text-base md:text-lg font-semibold;
  }


  &:after {
    content: '';
    @apply bg-primary-600 dark:bg-primary-500 w-2.5 h-2.5 md:w-3 md:h-3 rotate-45 absolute -bottom-3 transition-opacity;
    opacity: 0;
  }

  &.active {
    @apply text-primary-600 dark:text-primary-500 -translate-y-3;
    &:after {
      opacity: 1;
    }

    .icon {
      @apply text-primary-600 dark:text-primary-500;
    }
  }
}

</style>

<script setup lang="ts">
import Swiper from 'swiper';
import {Keyboard, Navigation, HashNavigation, Zoom} from 'swiper/modules';
// import Swiper styles
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

interface SwiperSlide {
  realIndex: number;
}

let currentSlide = ref<SwiperSlide | null>(null);
let currentSlideIndex = ref(0);
let features = ref();

let route = useRoute();

const featureItems = [
  {
    id: 'fabrick',
    name: 'FaBrick',
    icon: 'lucide:toy-brick',
    image: '/images/home/ft-fabrick.png',
    text: 'Integration of your data to our product. We currently support Neo4j and opencypher-powered graph databases.'
  },
  {
    id: 'modelbuilder',
    name: 'ModelBuilder',
    icon: 'lucide:database',
    image: '/images/home/ft-modelbuilder.jpg',
    text: 'GraphPolaris models your data for you to inspect it further.'
  },
  {
    id: 'querycoach',
    name: 'QueryCoach',
    icon: 'lucide:wand-sparkles',
    image: '/images/home/ft-querycoach.jpg',
    text: 'Get a first simple glance at your data and its relationships. Visually inspect its components and how they are connected to each other. Build your first hypotheses on your questions.'
  },
  {
    id: 'augmentor',
    name: 'Augmentor',
    icon: 'lucide:brain-cog',
    image: '/images/home/ft-augmentor.jpg',
    text: "Inspect your connections further by augmenting the data with our machine learning options."
  },
  {
    id: 'insight',
    name: 'InSight',
    icon: 'lucide:presentation',
    image: '/images/home/ft-insight.jpg',
    text: 'Set on the final output of your case study. Share your insights with our high-quality and impactful visualizations!'
  },
];

// const items = [
//   {id: 'fabrick', name: 'FaBrick', icon: 'lucide:toy-brick'},
//   {id: 'modelbuilder', name: 'ModelBuilder', icon: 'icon-park-outline:chart-graph'},
//   {id: 'querycoach', name: 'QueryCoach', icon: 'ic:outline-schema'},
//   {id: 'augmentor', name: 'Augmentor', icon: 'fluent:brain-circuit-24-regular'},
//   {id: 'insight', name: 'InSight', icon: 'tabler:presentation'},
// ];

const hashToIndex = featureItems.reduce<{ [key: string]: number }>((acc, item, index) => {
  acc['#' + item.id] = index;
  return acc;
}, {});

watch(() => route.hash, (newHash) => {
  const index = hashToIndex[newHash];
  // console.log('newHash:', newHash, 'index:', index); // Add logging
  if (index !== undefined) {
    features.value.slideToLoop(index);
  }
});


onMounted(() => {
  features.value = new Swiper('.main-gallery', {
    // Optional parameters
    direction: 'horizontal',
    spaceBetween: 10,
    centeredSlides: true,
    slidesPerView: 1.2,
    loop: false,
    modules: [Keyboard, Navigation, HashNavigation, Zoom],
    effect: 'coverflow',
    zoom: {
      maxRatio: 2.5,
    },
    breakpoints: {
      640: {
        slidesPerView: 1.2,
        spaceBetween: 15,
      },
      768: {
        slidesPerView: 1.4,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 1.5,
        spaceBetween: 40,
      },
    },
    keyboard: {
      enabled: true,
    },
    hashNavigation: {
      watchState: false,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    on: {
      slideChangeTransitionEnd: function (e) {
        currentSlide.value = features.value; // Update currentSlide when the slide changes
        currentSlideIndex.value = e.realIndex;
        // console.log('currentSlideIndex:', currentSlideIndex.value); // Add logging
      },
    },
  });

});
</script>
