<template class="bg-pink-400">
  <section
      class="hero bg-[radial-gradient(circle_at_bottom,_var(--tw-gradient-stops))] from-[#025892] via-[#033D63] to-[#042A43]">
    <!--    <section class="hero bg-gradient-to-b from-[#042A43] via-70% via-[#033D63] to-[#025892]">-->
    <div class="hero-text site-width section-padding mx-auto">
      <div class="heading-subtitle mb-1 text-brand-200">Insights in your industry</div>
      <h1 class="max-w-2xl heading-lg font-heading leading-tight md:leading-tight lg:leading-tight mb-3 md:mb-4 lg:mb-6">
        Connecting the dots from your data
      </h1>
      <p class="heading-text">
        Our no-code platform helps you easily explore data and quickly identify valuable insights using graph
        analytics. Solve the challenges in your industry and improve your business operations with a simple tool and
        interactive visualizations.
      </p>
    </div>
    <NuxtParticles
        id="tsparticles"
        class="absolute h-full w-full"
        :options="options"
        @load="onLoad"
    ></NuxtParticles>

  </section>
</template>

<style scoped lang="scss">
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(80vh - var(--header-height, 80px));
  min-height: 450px;
  max-height: 800px;
  color: white;
  position: relative;
  text-align: center;
}

.hero-text {
  pointer-events: none;
  text-shadow: #033D63 0 0 12px;
  z-index: 1;
  filter: drop-shadow(0 0 6px rgba(4, 42, 67, 0.5)) drop-shadow(0 0 3px rgba(4, 42, 67, 0.5));
  text-align: left;
}

#tsparticles {
  cursor: url("/assets/images/cursor.svg") 46 46, auto;
}
</style>

<script setup lang="ts">
import {onBeforeMount, onBeforeUnmount, onActivated, ref} from 'vue';
import type {Container} from '@tsparticles/engine';

const options = ref({});
const container = ref<Container | null>(null);

const initializeParticles = () => {
  const isTouchDevice = () => 'ontouchstart' in window || navigator.maxTouchPoints > 0;

  options.value = {
    particles: {
      color: {value: ["#F9CB4E", "#fff"]},
      links: {
        color: "#fff",
        enable: true,
        width: 1.5,
        distance: 100,
        opacity: 0.6,
      },
      move: {
        enable: true,
        speed: 0.4,
        direction: "none",
        random: true,
      },
      number: {
        value: 350,
        density: {enable: true, area: 800},
      },
      opacity: {
        value: 0.7,
        animation: {
          count: 0,
          enable: false,
          speed: 2,
          decay: 5,
          delay: 0,
          sync: false,
          mode: "auto",
          startValue: "random",
          destroy: "none",
        },
      },
      shape: {
        type: "square",
      },
      rotate: {
        value: 45,
        direction: "clockwise",
        animation: {
          enable: false,
          speed: 0,
          sync: false,
        },
      },
      size: {
        value: {min: 2, max: 5},
        animation: {
          count: 0,
          enable: true,
          speed: 5,
          sync: true,
        },
      },
    },
    interactivity: {
      detectsOn: "canvas",
      events: {
        onClick: {
          enable: !isTouchDevice(),
          mode: 'attract',
        },
        onHover: {
          enable: !isTouchDevice(),
          mode: ['grab', 'bubble'],
          parallax: {
            enable: true,
            force: 120,
            smooth: 15,
          },
        },
        resize: {
          enable: true,
          delay: 0.5,
        },
      },
      modes: {
        bubble: {
          distance: 240,
          duration: 1.6,
          opacity: 1,
          size: 12,
          speed: 4,
          color: {
            value: [
              "#A91919",
              "#C54022",
              "#DD662B",
              "#EC7F32",
              "#FB9637",
              "#FBA43E",
              "#FAB043",
              "#FABF49",
              "#F9CB4E",
            ],
          },
        },
        grab: {
          distance: 300,
          links: {
            opacity: 1,
            width: 3,
          },
        },
        attract: {
          enabled: true,
          distance: 200,
          easing: "ease-in-out",
          duration: 0.8,
          factor: 0.1,
          maxSpeed: 3,
          speed: 3,
        },
      },
    },
    background: {
      color: {value: '#0d47a1'},
      opacity: 0,
    },
    fpsLimit: 120,
    fullScreen: {
      enable: false,
      zIndex: -1,
    },
    pauseOnBlur: true,
    pauseOnOutsideViewport: true,
    detectRetina: true,
  };
};

const onLoad = (containerInstance: Container) => {
  container.value = containerInstance;
  container.value.pause();
  container.value.play();
};

onBeforeMount(() => {
  initializeParticles();
});

onBeforeUnmount(() => {
  if (container.value) {
    container.value.destroy();
  }
});

onActivated(() => {
  if (container.value) {
    container.value.refresh();
  } else {
    initializeParticles();
  }
});
</script>

