<template>

  <NuxtLink :to="solution._path" class="card dark:card-invert card-link group overflow-hidden flex flex-col">
    <div class="card-image-container">
      <NuxtImg
          :src="solution.img ? solution.img : 'assets/placeholder.jpg'"
          :alt="solution.title"
          width="600"
          class="w-full card-image"/>
    </div>
    <div class="gap-3 site-width p-4 md:p-5 lg:p-6 mx-auto flex flex-col grow">
      <h3 v-if="solution.title" class="card-title text-xl md:text-2xl font-semibold">
        {{ solution.title }}
      </h3>
      <p v-if="solution.description" class="card-text">{{ solution.description }}</p>
      <div class="mt-auto">
        <UButton
            v-if="solution._path"
            label="Read more"
            variant="ghost"
            color="primary"
            trailing-icon="i-heroicons-arrow-right-20-solid"
            size="lg"
            block
        />
      </div>
    </div>
  </NuxtLink>
</template>
<style lang="scss">


</style>

<script setup lang="ts">
const {formatDate} = useDateFormat();

defineProps({
  solution: {
    type: Object as PropType<solutionItem>,
    required: true,
  },
});

</script>