<template>

  <NuxtLink :to="item._path" class="flex">
    <article class="card card-link flex flex-col grow">
      <div class="card-image-container">
        <NuxtImg
            :src="item.img ? item.img : '/assets/placeholder.jpg'"
            :alt="item.title"
            width="400" height="240"
            class="w-full card-image"
        />
      </div>
      <div class="p-3 md:p-4 lg:p-6 flex flex-col grow gap-1">
        <h3 class="font-semibold card-title line-clamp-2 md:text-lg md:leading-snug">
          {{ item.title }}
        </h3>
        <p class="card-text line-clamp-2 text-sm md:text-base" v-if="item.description">
          {{ item.description }}
        </p>
        <div class="flex flex-row gap-2 pt-2">
          <p class="text-tertiary-400 text-xs text-right mt-auto mr-auto">
            <time :datetime="item.date">
              {{ formatDate(item.date) }}
            </time>
          </p>
          <div
              v-if="item.type"
              class="bg-tertiary-200 dark:bg-tertiary-700 text-tertiary-800 dark:text-tertiary-200 text-xs font-medium me-2 px-2.5 py-0.5 rounded self-end mt-auto ml-auto">
            {{ item.type }}
          </div>

        </div>
      </div>

    </article>
  </NuxtLink>
</template>

<script setup lang="ts">
const {formatDate} = useDateFormat();

defineProps({
  item: {
    type: Object as PropType<cardItem>,
    required: true,
  },
});

</script>