<template>

  <NuxtLink :to="item._path" class="flex">
    <article class="card card-link flex-col grow">
      <div class="card-image-container bg-light p-3 flex h-44">
        <NuxtImg
            :src="item.img ? item.img : '/assets/placeholder.jpg'"
            :alt="item.title"
            width="400"
            height=""
            fit="contain"
            format="webp"
            loading="lazy"
            class="w-full mx-auto object-contain card-image"
        />
      </div>
      <div class="p-3 md:p-4 lg:p-6 flex flex-col grow gap-1">

        <h3 class="font-semibold card-title line-clamp-2 md:text-lg md:leading-snug">
          {{ item.title }}
        </h3>
        <p class="card-text line-clamp-2 text-sm md:text-base" v-if="item.description">
          {{ item.description }}
        </p>
      </div>
      <!--        <div class="mt-auto">-->
      <!--          <UButton-->
      <!--              label="Read the story"-->
      <!--              color="primary"-->
      <!--              variant="ghost"-->
      <!--              trailing-icon="i-heroicons-arrow-right-20-solid"-->
      <!--              block-->
      <!--          />-->
      <!--        </div>-->

    </article>
  </NuxtLink>
</template>

<script setup>

defineProps({
  item: {
    type: Object,
    required: true,
  },
});

</script>