<template>
  <section
      class="bg-tertiary-200 dark:bg-tertiary-800 section-padding relative">
    <div
        class="bg-pattern-gray dark:bg-pattern-white bg-pattern-opacity-25 dark:bg-pattern-opacity-25 absolute w-full h-full top-0 left-0"></div>

    <div class="text-center site-width flex flex-col items-center justify-center relative gap-2">
      <h2 class="font-heading heading-xs max-w-[50ch] m-0" v-if="title">{{ title }}</h2>
      <p class="text-lg md:text-xl lg:text-xl max-w-[65ch] text-tertiary-700 dark:text-primary-200" v-if="subtitle">
        {{ subtitle }}</p>
      <!--      <ContentSlot :use="$slots.default"/>-->
      <slot/>
    </div>
  </section>
</template>
<script setup lang="ts">
defineProps({
  title: {
    type: String,
    required: false,
  },
  subtitle: {
    type: String,
    required: false,
  },
});
</script>