<template>
  <footer class="bg-tertiary-200 dark:bg-tertiary-950">
    <div class="section-padding">
      <div class="footer grid md:grid-cols-none auto-rows-auto site-width">
        <nav v-for="(column, id) in footerNav" :key="id" class="flex flex-col gap-1 md:gap-2">
          <div class="text-tertiary-600 dark:text-tertiary-400 font-semibold md:text-base text-sm" v-if="column.title">
            {{ column.title }}
          </div>
          <NuxtLink
              v-for="(link, index) in column.links"
              :key="index"
              :to="link.to"
              class="hover:underline text-sm md:text-base"
          >{{ link.label }}
          </NuxtLink>
        </nav>
      </div>
    </div>
    <div class="border-t border-tertiary-300 dark:border-tertiary-700 section-padding-x">
      <div class="site-width mx-auto flex flex-row py-3 gap-2 md:py-4 items-center">
        <nav class="grid grid-flow-col gap-4 text-2xl md:text-3xl">
          <a href="https://www.linkedin.com/company/graphpolaris" target="_blank" class="flex"
             aria-label="Our Linkedin page">
            <NuxtIcon name="ion:logo-linkedin" class="fill-current opacity-75 hover:opacity-100"/>
          </a>
        </nav>
        <div class="text-xs md:text-sm text-tertiary-600 dark:text-tertiary-400">
          <ul class="list-divider">
            <li>© {{ new Date().getFullYear() }}
              GraphPolaris (Holdings) B.V. All rights reserved.
            </li>
            <li>
              KVK: 93305362
            </li>
            <li>
              <NuxtLink class="underline hover:no-underline" to="/legal-information">Legal Information</NuxtLink>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</template>

<script setup lang="ts">
const appConfig = useAppConfig()
const footerNav = ref(appConfig.footerNav)
</script>

<style lang="scss" scoped>
.footer {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

footer .list-divider {
  @apply items-center flex flex-row flex-wrap;
  li + li:before {
    content: '';
    background-color: currentColor;
    display: inline-flex;
    width: 0.5em;
    height: 0.5em;
    @apply opacity-50 mx-2 rotate-45 origin-center;
  }
}
</style>