<template>
  <div>
    <h1
        class="text-2xl font-bold"
    >
      {{ title }}
    </h1>
    <p class="mt-6 prose dark:prose-invert" v-if="description">
      {{ description }}
    </p>
  </div>
</template>

<script setup>
defineProps({
  title: {
    type: String,
    required: true,
  },
  description: {
    type: String,
    required: true,
  },
});
</script>
