<template>
  <header class="nav-container bg-light dark:bg-dark">
    <div
        class="site-width bg-light justify-between sm:justify-start dark:bg-dark h-full section-padding-x mx-auto flex flex-row items-center gap-4">
      <div class="lg:hidden">
        <div @click="toggleMobileMenu" :class="{ 'active': mobileMenuOpen }" class="menu-icon"
             id="menu-icon"
             role="button" aria-label="Toggle menu">
          <div><span>menu</span></div>
        </div>
      </div>

      <NuxtLink to="/" class="flex items-center hover:text-tertiary-700 dark:hover:text-tertiary-300"
                aria-label="Logo link to home">
        <GraphPolarisLogo class="w-48 lg:w-52 xl:w-60 shrink-0"/>
      </NuxtLink>
      <nav class="nav-main hidden lg:flex">
        <ul class="flex space-x-4">
          <li v-for="item in appConfig.mainNav" :key="item.label"
              class="relative group shrink-0 flex-nowrap whitespace-nowrap py-2">
            <NuxtLink :to="item.to"
                      class="items-center flex gap-1"
                      :class="{ 'text-primary-600 dark:text-primary-500': isActive(item), 'hover:text-primary-500 dark:hover:text-primary-400': true }">
              {{ item.label }}
              <NuxtIcon v-if="item.subItems" name="ion:chevron-down"
                        class="text-lg opacity-50 group-hover:opacity-100 transition-transform transform group-hover:-rotate-180"/>
            </NuxtLink>
            <ul v-if="item.subItems"
                class="absolute left-0 top-full hidden group-hover:block bg-light dark:bg-tertiary-800 min-w-full shadow-lg rounded-lg overflow-hidden">
              <li v-for="subItem in item.subItems" :key="subItem.label"
                  class="hover:bg-tertiary-100 dark:hover:bg-tertiary-700 shrink-0">
                <NuxtLink :to="subItem.to">
                  <div :class="{ 'text-primary-600 dark:text-primary-500': isActive(subItem) }"
                       class="px-4 py-2 font-normal">{{
                      subItem.label
                    }}
                    <p v-if="subItem.description" class="text-sm text-tertiary-500">{{ subItem.description }}</p>
                  </div>
                </NuxtLink>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="flex flex-row justify-end items-center shrink-0 gap-2 md:gap-3 sm:ml-auto">
        <ClientOnly>
          <UTooltip :text="tooltipText">
            <UButton
                :icon="isDark ? 'i-heroicons-moon-solid' : 'i-heroicons-sun-solid'"
                color="tertiary"
                variant="ghost"
                aria-label="Theme"
                @click="isDark = !isDark"
            />
          </UTooltip>

        </ClientOnly>
        <div class="hidden sm:flex">
          <UButton color="secondary" variant="solid" size="lg" to="/contact" @click="$gtm.push({ event:'button_click',
      action: 'Click',
      label: 'Request Demo'})">Request a demo
          </UButton>
          <!--        <UButton color="secondary" variant="outline" size="lg">Login</UButton>-->
        </div>

      </div>

    </div>
    <div class="mobile-menu lg:hidden" :class="{ 'block': mobileMenuOpen, 'hidden': !mobileMenuOpen }">
      <ul class="section-padding-x">
        <li v-for="item in appConfig.mainNav" :key="item.label">
          <div @click="toggleSubMenu(item)"
               class="flex justify-between items-center cursor-pointer">
            <NuxtLink :to="item.to" @click="closeMenu"
                      :class="{ 'text-primary-600 dark:text-primary-500': isActive(item) }"
                      class="px-4 py-2 grow hover:text-primary-600 dark:hover:text-primary-400">
              {{ item.label }}
            </NuxtLink>
            <div
                class="p-2 rounded w-9 h-9 flex items-center justify-center bg-tertiary-300"
                :class=" openSubMenu === item ? 'bg-opacity-0 text-primary-500 dark:text-primary-400 hover:bg-opacity-20' : 'bg-opacity-20 hover:bg-opacity-10 text-tertiary-600 dark:text-tertiary-300 hover:text-primary-500 dark:hover:text-primary-400'">
              <NuxtIcon v-if="item.subItems" :class="{ 'transform -rotate-180': openSubMenu === item }"
                        name="ion:chevron-down"
                        class="text-lg transition-transform"/>
            </div>
          </div>
          <div class="submenu-wrapper" :class="{ 'is-open': openSubMenu === item}">
            <ul v-if="item.subItems"
                class="submenu">
              <li v-for="subItem in item.subItems" :key="subItem.label"
                  class="hover:bg-tertiary-100 dark:hover:bg-tertiary-800">

                <NuxtLink :to="subItem.to" @click="closeMenu"
                          :class="{ 'text-primary-600 dark:text-primary-500': isActive(subItem) }">
                  <div class="px-4 py-2 font-normal">{{
                      subItem.label
                    }}
                    <p v-if="subItem.description" class="text-sm text-tertiary-500">{{ subItem.description }}</p>
                  </div>
                </NuxtLink>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <NuxtLink to="/contact" @click="closeMenu"
                class="flex sm:hidden flex-col items-center gap-3 md:gap-4 w-full section-padding-x pt-6">
        <UButton color="secondary" variant="solid" size="xl" block @click="$gtm.push({ event:'button_click',
      action: 'Click',
      label: 'Request Demo'})">Request a demo
        </UButton>
      </NuxtLink>
      <!--        <UButton color="secondary" variant="outline" block>Login</UButton>-->

    </div>
    <div v-if="mobileMenuOpen" @click="closeMenu" class="backdrop"></div>
  </header>
</template>

<script setup lang="ts">
import {ref} from 'vue'
import {useAppConfig, useRoute} from 'nuxt/app'

const appConfig: { mainNav: NavItem[] } = useAppConfig();
const mobileMenuOpen = ref(false)
let openSubMenu = ref<NavItem | null>(null);
const route = useRoute()

const colorMode = useColorMode()
const isDark = computed({
  get() {
    return colorMode.value === 'dark'
  },
  set() {
    colorMode.preference = colorMode.value === 'dark' ? 'light' : 'dark'
  }
})
const tooltipText = computed(() => {
  return isDark.value ? 'Switch to light mode' : 'Switch to dark mode';
});

const closeMenu = () => {
  mobileMenuOpen.value = false
}

interface NavItem {
  label: string;
  to: string;
  subItems?: SubItem[];
  open?: boolean;
}

interface SubItem {
  label: string;
  to: string;
  description?: string;
  open?: boolean;
}

const toggleMobileMenu = () => {
  mobileMenuOpen.value = !mobileMenuOpen.value
}

const toggleSubMenu = (item: NavItem) => {
  openSubMenu.value = openSubMenu.value === item ? null : item;
}

const isActive = (item: NavItem) => {
  if (route.path === item.to) {
    return true
  }
  if (item.subItems) {
    return item.subItems.some(subItem => route.path === subItem.to)
  }
  return false
}

// Ensure subItems have an 'open' state for mobile toggling
appConfig.mainNav.forEach((item: NavItem) => {
  if (item.subItems) {
    item.subItems.forEach((subItem: SubItem) => {
      subItem.open = false;
    });
  }
});

let windowWidth = ref<number | null>(null);

let keydownHandler: ((event: KeyboardEvent) => void) | null = null;
let resizeHandler: ((event: UIEvent) => void) | null = null;


onMounted(() => {
  keydownHandler = function (event: KeyboardEvent) {
    if (event.key === "Escape") {
      mobileMenuOpen.value = false;
    }
  };
  document.addEventListener('keydown', keydownHandler);
  resizeHandler = function (event: UIEvent) {
    if (window.innerWidth > 768) {
      mobileMenuOpen.value = false;
    }
  };
  windowWidth.value = window.innerWidth;
  resizeHandler = function (event: UIEvent) {
    if (window.innerWidth > 768) {
      mobileMenuOpen.value = false;
    }
  };
  window.addEventListener('resize', resizeHandler);
});

onUnmounted(() => {
  if (keydownHandler) {
    document.removeEventListener('keydown', keydownHandler);
  }
  if (resizeHandler) {
    window.removeEventListener('resize', resizeHandler);
  }
});
</script>

<style scoped lang="scss">
.nav-container {
  --header-height: 60px;
  transition: height var(--transition-fast) ease-out;
  height: var(--header-height);
  @screen md {
    --header-height: 80px;
  }
  @apply shadow-sm shadow-tertiary-200 dark:shadow-tertiary-800 z-40 sticky top-0 items-center flex flex-row;
}

.nav-main {
  @apply font-medium xl:text-lg;
}


.mobile-menu {
  scrollbar-gutter: stable;
  margin-top: var(--header-height);
  height: fit-content;
  max-height: calc(100vh - var(--header-height));
  max-height: calc(100dvh - var(--header-height));
  overflow-y: auto;
  @apply bg-light dark:bg-dark text-lg font-medium absolute top-0 left-0 bottom-0 w-full pb-4;

  > ul {
    @apply divide-y divide-tertiary-100 dark:divide-tertiary-800;
    > li {
    }
  }

  .submenu-wrapper {
    @apply transition-all;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transition-base) ease-out;

    &.is-open {
      grid-template-rows: 1fr;
    }

    .submenu {
      overflow: hidden;
      min-height: 0;
      transition: visibility 0.2s;
      margin-left: 1rem;
    }
  }
}

.menu-icon {
  transition: var(--transition-base, 0.2s) ease-out all;
  @apply block lg:hidden rounded cursor-pointer relative;
  padding: 6px 6px;
  width: 40px;
  height: 40px;

  &:hover {
    @apply bg-tertiary-100 dark:bg-tertiary-800;
  }

  &:after,
  &:before,
  & div {
    @apply bg-tertiary-700 dark:bg-tertiary-300 rounded;
    content: '';
    display: block;
    height: 3px;
    margin: 5px 2px;
    transition: all 0.2s;
  }

  & span {
    position: absolute;
    left: -99999px;
  }

  &.active {
    &:before {
      transform: translateY(8px) rotate(135deg);
    }

    &:after {
      transform: translateY(-8px) rotate(-135deg);
    }

    & div {
      transform: scale(0);
    }
  }
}
</style>
