<template>

  <article class="card flex flex-col grow">
    <div class="card-image-container" v-if="item.img">
      <NuxtImg
          :src="item.img ? item.img : '/assets/placeholder.jpg'"
          :alt="item.title"
          width="400" height="240"
          class="w-full card-image"
      />
    </div>
    <div class="p-3 md:p-4 lg:p-6 flex flex-col grow gap-1">
      <h3 class="font-semibold card-title line-clamp-2 md:text-lg md:leading-snug">
        {{ item.title }}
      </h3>
      <p class="card-text text-sm md:text-base" v-if="item.text">
        {{ item.text }}
      </p>
      <p class="text-tertiary-400 dark:text-tertiary-600 text-xs text-right mt-auto pt-1">
        <time :datetime="item.date">
          {{ formatDate(item.date) }}
        </time>
      </p>

      <!--      <LazyContentRenderer class="prose-sm mt-2" v-if="item" :value="item">-->
      <!--        <UButton color="primary" variant="solid" v-if="item">Read more</UButton>-->
      <!--        <template #empty>-->
      <!--          &lt;!&ndash;          <p>No content found.</p>&ndash;&gt;-->
      <!--        </template>-->
      <!--      </LazyContentRenderer>-->
    </div>

  </article>
</template>

<script setup>
const {formatDate} = useDateFormat();

defineProps({
  item: {
    type: Object,
    required: true,
  },
});
</script>
