<template>
  <aside id="page-toc" class="toc">
    <ol v-if="toc && toc.links">
      <PageTocLink v-for="link in toc.links" :key="link.id" :link="link"/>
    </ol>
  </aside>
</template>

<script setup lang="ts">
import {onMounted, ref, reactive} from 'vue'

const {toc} = useContent()
useHead({
  bodyAttrs: {
    class: 'toc-enabled'
  }
})

interface Link {
  id: string;
  children?: Link[];
}

onMounted(() => {
  const tocObject = toc.value;

  function extractIds(links: Link[]): string[] {
    let ids: string[] = [];
    for (let link of links) {
      ids.push(link.id);
      if (link.children) {
        ids = ids.concat(extractIds(link.children));
      }
    }
    return ids;
  }

  const ids = extractIds(tocObject.links);
  const elements = ids.map(id => document.getElementById(id)).filter(Boolean);

  let inViewportElements: Element[] = [];

  let topPadding = getComputedStyle(document.documentElement).getPropertyValue('--scroll-padding-top').trim();
  let topMargin = getComputedStyle(document.documentElement).getPropertyValue('--prose-scroll-margin-top').trim();

  let topMarginNumber = parseInt(topMargin.replace('px', '')) || 0;
  console.log(topMarginNumber);

  if (topPadding.startsWith('calc(')) {
    // Extract the numeric values
    const pixelValueMatch = topPadding.match(/(\d+)px/);
    const remValueMatch = topPadding.match(/(\d+)rem/);

    // Parse the numeric values
    const pixelValue = pixelValueMatch ? parseInt(pixelValueMatch[1], 10) : 0;
    const remValue = remValueMatch ? parseInt(remValueMatch[1], 10) : 0;

    // Convert the REM value to pixels (assuming 1rem = 16px)
    const remInPixels = remValue * 16;

    // Calculate the total value in pixels
    const totalPixels = pixelValue + remInPixels - topMarginNumber;
    // Update topPadding with the total value in pixels
    topPadding = `${totalPixels}px`;
  }


// If the CSS variable is not found or its value is empty, set topPadding to a default value
  if (!topPadding) {
    topPadding = '100px';
  }

  const rootMargin = `${topPadding} 0px 0px 0px`;
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const element = entry.target as Element;

      if (entry.isIntersecting) {
        // Add the element to the inViewportElements array if it's not already there
        if (!inViewportElements.includes(element)) {
          inViewportElements.push(element);
        }
      } else {
        // Remove the element from the inViewportElements array
        const index = inViewportElements.indexOf(element);
        if (index > -1) {
          inViewportElements.splice(index, 1);
        }
      }

      // Sort the inViewportElements array based on the order of ids
      inViewportElements.sort((a, b) => ids.indexOf(a.id) - ids.indexOf(b.id));

      // Remove the active class from all links
      document.querySelectorAll('#page-toc a.active').forEach(activeLink => {
        activeLink.classList.remove('active');
      });

      // Add the active class to the link corresponding to the first element in the inViewportElements array
      if (inViewportElements.length > 0) {
        const activeElementId = inViewportElements[0].getAttribute('id');
        const activeLink = document.querySelector(`#page-toc a[href="#${activeElementId}"]`);
        if (activeLink) {
          activeLink.classList.add('active');
        }
      }
    });
  }, {rootMargin: rootMargin, threshold: 0});

  elements.forEach((element) => {
    if (element) {
      observer.observe(element);
    }
  });
});
</script>

<style lang="scss">
.toc {
  @apply fixed flex flex-col items-start justify-start top-0 bottom-0 right-0 max-w-[300px] overflow-y-auto z-10;
  top: calc(var(--header-height) + 1rem);

  ol {
    @apply sticky bg-light p-4 top-0;
    padding-left: 1em;
    overflow-y: auto;
    flex-grow: 1;
  }

  .active {
    @apply font-bold;
  }
}
</style>