<template>
  <li>
    <a :href="`#${link.id}`">{{ link.text }}</a>
    <ol v-if="link.children">
      <PageTocLink v-for="child in link.children" :key="child.id" :link="child"/>
    </ol>
  </li>
</template>

<script setup lang="ts">
const props = defineProps({
  link: {
    type: Object,
    required: true
  }
})
</script>