<template>
  <div class="site-width section-padding-x mx-auto flex items-center justify-center border-tertiary-200 pb-8">
    <div class="grid gap-4 lg:gap-8 sm:grid-cols-2 w-full">
      <NuxtLink :to="next._path" v-if="next && isInSameDirectory(next._path)"
                class="flex  flex-col gap-2 lg:gap-4 p-4 lg:p-6 border not-prose rounded-lg border-tertiary-200 dark:border-tertiary-800 hover:bg-tertiary-100/50 dark:hover:bg-tertiary-950/50 group">
        <div class="shrink-0 w-4 h-4 md:w-5 md:h-5 group-hover:text-primary">
          <NuxtIcon name="ion:arrow-back-sharp"/>
        </div>

        <div>
          <p class="font-medium mb-1 group-hover:text-primary-500 dark:group-hover:text-primary-400">{{
              next.title
            }}</p>
          <p class="text-sm font-normal text-tertiary-500 dark:text-tertiary-400 line-clamp-2" v-if="next.description">
            {{
              next.description
            }}</p>
        </div>
      </NuxtLink>
      <div v-else></div>

      <NuxtLink :to="prev._path" v-if="prev && isInSameDirectory(prev._path)"
                class="flex flex-col items-end gap-2 lg:gap-4 p-4 lg:p-6 border not-prose rounded-lg border-tertiary-200 dark:border-tertiary-800 hover:bg-tertiary-100/50 dark:hover:bg-tertiary-950/50 group text-right">
        <div class="shrink-0 flex w-4 h-4 md:w-5 md:h-5 group-hover:text-primary items-center justify-center">
          <NuxtIcon name="ion:arrow-forward-sharp"/>
        </div>
        <div>
          <p class="font-medium mb-1 group-hover:text-primary-500 dark:group-hover:text-primary-400">{{
              prev.title
            }}</p>
          <p class="text-sm font-normal text-tertiary-500 dark:text-tertiary-400 line-clamp-2" v-if="prev.description">
            {{
              prev.description
            }}</p>
        </div>
      </NuxtLink>
      <div v-else></div>
    </div>

  </div>
</template>

<script setup lang="ts">
interface Content {
  _path: string;
  title?: string;
  description?: string;
}

const {page, next, prev} = useContent();

const typedPage = computed(() => page.value as Content);

const currentPath = ref(typedPage.value._path);
const isInSameDirectory = (path: string) => {
  const currentDirectory = currentPath.value.split('/').slice(0, -1).join('/');
  return path.startsWith(currentDirectory);
};
</script>

<style scoped>
/* Add your styles here if needed */
</style>
