<template>
  <div class="flex flex-col gap-3 lg:gap-4  sm:p-5 md:p-6">
    <div class="text-center">
      <div class="font-title text-xl lg:text-2xl capitalize font-alt" v-if="question.title">{{
          question.title
        }}
      </div>
      <div class="italic text-tertiary-600 dark:text-tertiary-400 md:text-lg lg:text-xl leading-tight"
           v-if="question.subtitle">
        {{ question.subtitle }}
      </div>
    </div>
    <div class="flex flex-col gap-2 sm:gap-3 lg:gap-4 relative">
      <div v-for="(item, id) in question.items" :key="id"
           class="py-2 md:py-3 px-3 gap-1 md:px-4 border-l-4 justify-stretch flex flex-col card card-link"
           :class="{
       'border-brand-600 bg-orange-100 dark:bg-orange-300 dark:bg-opacity-20': item.color === 'orange',
       'border-green-600 bg-green-100 dark:bg-green-300 dark:bg-opacity-20': item.color === 'green',
       'border-purple-600 bg-purple-100 dark:bg-purple-300 dark:bg-opacity-20': item.color === 'purple'
     }">
        <NuxtLink :to="item.link" class="shrink-0 group"
                  v-if="item.link">
          <div
              class="text-sm md:text-base flex flex-row gap-1 items-center" v-if="item.title">

            <span class="grow capitalize leading-snug opacity-75 group-hover:opacity-100 ">{{ item.title }}</span>
            <NuxtIcon :class="{
       'text-orange-600 dark:text-orange-500': item.color === 'orange',
       'text-green-600 dark:text-green-500': item.color === 'green',
       'text-purple-600 dark:text-purple-500': item.color === 'purple'
     }" class="shrink-0 text-xl md:text-2xl opacity-75 group-hover:opacity-100 " :name="item.icon" v-if="item.icon"/>
            <NuxtIcon name="ion:chevron-right"
                      class="opacity-30 group-hover:opacity-75 group-hover:translate-x-1 transition"/>

          </div>

          <div v-if="item.text" class="grow text-lg md:text-xl font-medium capitalize">
            {{
              item.text
            }}
          </div>
        </NuxtLink>
      </div>
    </div>
    <ul class="list-horizontal text-tertiary-700 dark:text-tertiary-400 w-full text-sm md:text-base items-center justify-center flex flex-wrap flex-row capitalize"
        v-if="question.tags">
      <li v-for="(tag, id) in question.tags" :key="id">{{ tag }}</li>
    </ul>

  </div>
</template>
<script setup lang="ts">
defineProps({
  question: {
    type: Object,
    required: true,
  },
});
</script>

<style lang="scss">
ul.list-horizontal {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;

  li {
    padding-left: 1ch;
  }

  li::before {
    content: '';
    display: inline-flex;
    flex-shrink: 0;
    height: 0.4em;
    width: 0.4em;
    margin-right: 1ch;
    transform: translateY(-0.1em) rotate(45deg);
    transform-origin: center;
    @apply bg-tertiary-300;
  }
}
</style>