<template>


  <NuxtLink :to="solution._path" class="card card-link flex flex-col md:flex-row">
    <div
        class="h-52 md:h-auto md:w-[320px] lg:w-3/8 shrink-0 card-image-container p-2 justify-center flex items-start">
      <NuxtImg
          :src="solution.img ? solution.img : 'assets/placeholder.jpg'"
          width="600" height="400"
          class="w-full card-image object-contain h-full md:h-auto"/>
    </div>
    <div class="p-4 md:p-6 lg:p-8 flex flex-col grow gap-1">
      <h3 v-if="solution.title" class="font-semibold card-title line-clamp-2 text-lg md:text-xl md:leading-snug">
        {{ solution.title }}
      </h3>

      <p v-if="solution.description" class="md:text-lg">{{ solution.description }}</p>
      <ul v-if="solution.tags"
          class="text-tertiary-700 text-sm md:text-base flex flex-row d flex-wrap  my-4">
        <li v-for="tag in solution.tags" :key="tag" class="shrink-0">{{ tag }}</li>
      </ul>
      <div class="">
        <UButton variant="ghost" color="primary" trailing-icon="i-heroicons-arrow-right-20-solid" size="lg"
                 v-if="solution._path"
                 block
                 :to="solution._path"
                 label="Read more"/>
      </div>
    </div>

  </NuxtLink>

</template>

<script setup lang="ts">
const {formatDate} = useDateFormat();
defineProps({
  solution: {
    type: Object as PropType<solutionItem>,
    required: true,
  },
});
</script>

<style scoped lang="scss">
ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  align-items: center;
}

li:not(:first-child) {
  padding-left: 1ch;
}

li:not(:first-child)::before {
  content: '';
  display: inline-flex;
  flex-shrink: 0;
  height: 0.4em;
  width: 0.4em;
  background: hsl(var(--clr-base-40));
  margin-right: 1ch;
  transform: translateY(-0.1em);
  transform-origin: center;
}
</style>