<template>
  <div
      class="card card-link flex flex-col gap-3 p-6 lg:p-8 items-center group relative justify-start"
  >
    <div class="card-image-container w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48" style="overflow: visible"
         v-if="member.thumbnail">
      <div class="gp-overlay gp-shape-mask relative -mt-2 w-full h-full ">
        <NuxtImg
            :src="member.thumbnail"
            :alt="member.firstName + ' ' + member.lastName"
            width="200"
            height="200"
            format="webp"
            fit="cover"
            loading="lazy"
            sizes="sm:100px lg:200px"
            class="pl-[10%] pt-[10%] w-full h-full object-cover card-image"
        />
      </div>
    </div>
    <div class="text-center">
      <h3 class="card-title md:text-lg lg:text-xl font-semibold leading-snug">
        {{ member.firstName }} <span class="font-normal">{{ member.lastName }}</span>
      </h3>
      <p class="card-text text-sm md:text-base font-normal">{{ member.role }}</p>

    </div>
  </div>

</template>

<script setup lang="ts">

defineProps({
  member: {
    type: Object,
    required: true,
  },
});
</script>
<style lang="scss">

</style>
