<template>
  <UModal :model-value="isOpen" @close="closeModal" fullscreen>
    <UCard :ui="cardUI">
      <template #header>
        <div class="flex items-center justify-between">
          <h3 class="text-base font-semibold leading-6">
            Video: {{ selectedVideo ? selectedVideo.title : '' }}
          </h3>
          <UButton color="tertiary" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                   @click="closeModal"/>
        </div>
      </template>
      <div class="video-container my-auto" v-if="isYouTubeAllowed" :style="{ paddingTop: aspectRatio }">
        <iframe
            :src="selectedVideo ? `https://www.youtube.com/embed/${selectedVideo.videoID}` : ''"
            :title="selectedVideo ? selectedVideo.title : ''"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
        ></iframe>

      </div>
      <div v-else class="flex flex-col items-center gap-2 justify-center">
        <p class="text-base md:text-lg text-center">
          You need to accept <span class="font-semibold">third party cookies</span> to view this video.
        </p>
        <UButton @click="closeAndOpenPreferences" size="lg" icon="i-ic-round-cookie" label="Edit Preferences"
                 color="primary"/>
      </div>

    </UCard>
  </UModal>
</template>


<script setup lang="ts">
const props = defineProps({
  isOpen: Boolean,
  selectedVideo: Object as () => Video | null,
});

const emits = defineEmits(['update:isOpen']);

interface Video {
  videoID: string;
  title?: string;
  aspect?: string;
}

const cardUI = {
  base: 'h-full flex flex-col',
  divide: 'divide-y divide-tertiary-100',
  body: {
    base: 'grow overflow-y-auto',
  },
};

const closeModal = () => {
  emits('update:isOpen', false);
};

const aspectRatio = computed(() => {
  if (!props.selectedVideo || !props.selectedVideo.aspect) {
    return '56.25%'; // default to 16:9
  }
  const [width, height] = props.selectedVideo.aspect.split(':');
  return `${(parseFloat(height) / parseFloat(width)) * 100}%`; // calculate aspect ratio
});

const {
  cookiesEnabledIds,
  isModalActive,
} = useCookieControl();

const isYouTubeAllowed = ref(false);

const openCookiePreferences = () => {
  isModalActive.value = true;
};

const closeAndOpenPreferences = () => {
  emits('update:isOpen', false);
  openCookiePreferences();
};

onMounted(() => {
  watch(
      () => cookiesEnabledIds.value,
      (current) => {
        if (current && Array.isArray(current)) {
          isYouTubeAllowed.value = current.includes('t');
        } else {
          isYouTubeAllowed.value = false;
        }
      },
      {immediate: true}
  );
});
</script>

<style scoped lang="scss">


//.video-container {
//  aspect-ratio: 16 / 9;
//  position: relative;
//  display: flex;
//  max-height: 100%;
//  width: 100%;
//  justify-content: center;
//  align-items: center;
//  flex-direction: column;
//
//}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* for 16:9 aspect ratio */
  overflow: hidden;
  max-height: 100%; /* Ensure the video container doesn't exceed the parent container */
}

//.video-container iframe {
//  aspect-ratio: 16 / 9;
//  width: 100%;
//  max-width: 100%;
//  max-height: 100%;
//}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
