<template>
  <div class="flex">
    <article class="card card-link flex flex-col grow group">
      <div class="card-image-container">
        <NuxtImg
            :src="item.img ? item.img : '/assets/placeholder.jpg'"
            :alt="item.title"
            width="400" height="240"
            class="w-full video card-image"
            loading="lazy"
        />
        <div
            class="text-light absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-primary-600 dark:bg-primary-500 bg-opacity-70 dark:bg-opacity-70  group-hover:bg-opacity-90 dark:group-hover:bg-opacity-90 transition-all rounded-full scale-75 md:scale-100 py-4 pl-5 pr-3 justify-center items-center flex">
          <NuxtIcon name="ion:play" size="44"/>
        </div>
      </div>
      <div class="p-3 md:p-4 lg:p-6 flex flex-col grow gap-1">

        <h3 class="font-semibold card-title line-clamp-2 md:text-lg md:leading-snug">
          {{ item.title }}
        </h3>
        <p v-if="item.text" class="card-text line-clamp-2 text-sm md:text-base">{{ item.text }}</p>
        <div
            class="bg-tertiary-200 dark:bg-tertiary-700 text-tertiary-800 dark:text-tertiary-200 text-xs font-medium me-2 px-2.5 py-0.5 rounded self-end mt-auto ml-auto">
          {{ item.type ? item.type : 'General' }}
        </div>
      </div>

    </article>
  </div>
</template>

<script setup>

defineProps({
  item: {
    type: Object,
    required: true,
  },
});
</script>

<style scoped lang="scss">
.video {
  @apply cursor-pointer;
}
</style>