@layer base {
  :root {
    /* Color styles */
    /* https://tailwindcss.com/docs/customizing-colors. */
    /* tailwind config: 198deg 93% 60% / <alpha-value>) */

    /* PRIMITIVES */
    /* primitives are used to create other variables */
    --clr-white: 0 0% 100%;
    --clr-black: 0 0% 0%;

    --clr-blue-5: 220deg 80% 98%;
    --clr-blue-10: 220deg 71% 96%;
    --clr-blue-20: 220deg 94% 92%;
    --clr-blue-30: 220deg 90% 85%;
    --clr-blue-40: 220deg 88% 76%;
    --clr-blue-50: 220deg 84% 67%;
    --clr-blue-60: 220deg 79% 59%;
    --clr-blue-70: 220deg 71% 50%;
    --clr-blue-80: 220deg 80% 39%;
    --clr-blue-90: 220deg 78% 27%;
    --clr-blue-95: 220deg 86% 19%;
    --clr-blue-100: 220deg 61% 13%;

    --clr-cyan-5: 204deg 40% 98%;
    --clr-cyan-10: 204deg 69% 95%;
    --clr-cyan-20: 204deg 80% 90%;
    --clr-cyan-30: 204deg 75% 81%;
    --clr-cyan-40: 204deg 67% 69%;
    --clr-cyan-50: 204deg 74% 58%;
    --clr-cyan-60: 204deg 80% 49%;
    --clr-cyan-70: 204deg 94% 39%;
    --clr-cyan-80: 204deg 97% 29%;
    --clr-cyan-90: 204deg 94% 20%;
    --clr-cyan-95: 204deg 89% 14%;
    --clr-cyan-100: 204deg 80% 10%;

    --clr-base-5: 210deg 23% 98%;
    --clr-base-10: 220deg 20% 96%;
    --clr-base-15: 222deg 19% 93%;
    --clr-base-20: 223deg 17% 90%;
    --clr-base-30: 214deg 16% 80%;
    --clr-base-40: 219deg 14% 68%;
    --clr-base-50: 219deg 13% 57%;
    --clr-base-60: 217deg 12% 46%;
    --clr-base-70: 218deg 15% 36%;
    --clr-base-80: 216deg 22% 28%;
    --clr-base-85: 215deg 25% 22%;
    --clr-base-90: 215deg 30% 18%;
    --clr-base-95: 221deg 33% 15%;
    --clr-base-100: 223deg 30% 10%;

    --clr-green-5: 122deg 80% 98%;
    --clr-green-10: 122deg 78% 94%;
    --clr-green-20: 122deg 70% 87%;
    --clr-green-30: 122deg 56% 77%;
    --clr-green-40: 122deg 49% 64%;
    --clr-green-50: 122deg 45% 51%;
    --clr-green-60: 122deg 47% 41%;
    --clr-green-70: 122deg 54% 32%;
    --clr-green-80: 122deg 62% 24%;
    --clr-green-90: 122deg 82% 15%;
    --clr-green-95: 122deg 54% 12%;
    --clr-green-100: 122deg 56% 8%;

    --clr-magenta-5: 334deg 100% 99%;
    --clr-magenta-10: 334deg 98% 97%;
    --clr-magenta-20: 334deg 98% 92%;
    --clr-magenta-30: 334deg 97% 84%;
    --clr-magenta-40: 334deg 97% 75%;
    --clr-magenta-50: 334deg 84% 65%;
    --clr-magenta-60: 334deg 74% 56%;
    --clr-magenta-70: 334deg 73% 46%;
    --clr-magenta-80: 334deg 81% 35%;
    --clr-magenta-90: 334deg 100% 26%;
    --clr-magenta-95: 334deg 84% 18%;
    --clr-magenta-100: 334deg 76% 10%;

    --clr-gray-5: 0deg 0% 98%;
    --clr-gray-10: 0deg 0% 95%;
    --clr-gray-20: 0deg 0% 89%;
    --clr-gray-30: 0deg 0% 79%;
    --clr-gray-40: 0deg 0% 66%;
    --clr-gray-50: 0deg 0% 56%;
    --clr-gray-60: 0deg 0% 45%;
    --clr-gray-70: 0deg 0% 34%;
    --clr-gray-80: 0deg 0% 26%;
    --clr-gray-90: 0deg 0% 16%;
    --clr-gray-95: 0deg 0% 13%;
    --clr-gray-100: 0deg 0% 10%;

    --clr-orange-5: 29deg 100% 98%;
    --clr-orange-10: 29deg 100% 95%;
    --clr-orange-20: 29deg 100% 87%;
    --clr-orange-30: 29deg 100% 76%;
    --clr-orange-40: 29deg 96% 60%;
    --clr-orange-50: 29deg 97% 50%;
    --clr-orange-60: 28deg 99% 43%;
    --clr-orange-70: 25deg 89% 35%;
    --clr-orange-80: 26deg 96% 25%;
    --clr-orange-90: 25deg 100% 17%;
    --clr-orange-95: 25deg 100% 12%;
    --clr-orange-100: 25deg 100% 8%;

    --clr-purple-5: 260deg 96% 99%;
    --clr-purple-10: 260deg 96% 97%;
    --clr-purple-20: 260deg 84% 93%;
    --clr-purple-30: 260deg 83% 86%;
    --clr-purple-40: 260deg 72% 77%;
    --clr-purple-50: 260deg 60% 68%;
    --clr-purple-60: 260deg 46% 58%;
    --clr-purple-70: 260deg 45% 49%;
    --clr-purple-80: 260deg 52% 38%;
    --clr-purple-90: 260deg 52% 28%;
    --clr-purple-95: 260deg 50% 19%;
    --clr-purple-100: 260deg 51% 12%;

    --clr-red-5: 0deg 100% 99%;
    --clr-red-10: 0deg 100% 97%;
    --clr-red-20: 0deg 100% 92%;
    --clr-red-30: 0deg 100% 85%;
    --clr-red-40: 0deg 98% 76%;
    --clr-red-50: 0deg 91% 68%;
    --clr-red-60: 0deg 82% 60%;
    --clr-red-70: 0deg 77% 51%;
    --clr-red-80: 0deg 74% 38%;
    --clr-red-90: 0deg 81% 27%;
    --clr-red-95: 0deg 77% 18%;
    --clr-red-100: 0deg 74% 12%;

    --clr-teal-5: 180deg 80% 98%;
    --clr-teal-10: 180deg 80% 93%;
    --clr-teal-20: 180deg 74% 85%;
    --clr-teal-30: 180deg 65% 72%;
    --clr-teal-40: 180deg 59% 57%;
    --clr-teal-50: 180deg 78% 42%;
    --clr-teal-60: 180deg 83% 34%;
    --clr-teal-70: 180deg 80% 27%;
    --clr-teal-80: 180deg 70% 21%;
    --clr-teal-90: 180deg 78% 14%;
    --clr-teal-95: 180deg 63% 10%;
    --clr-teal-100: 180deg 56% 7%;

    --clr-yellow-5: 44deg 89% 98%;
    --clr-yellow-10: 44deg 90% 92%;
    --clr-yellow-20: 44deg 91% 82%;
    --clr-yellow-30: 44deg 93% 64%;
    --clr-yellow-40: 44deg 80% 49%;
    --clr-yellow-50: 44deg 79% 41%;
    --clr-yellow-60: 44deg 83% 34%;
    --clr-yellow-70: 44deg 88% 26%;
    --clr-yellow-80: 44deg 86% 19%;
    --clr-yellow-90: 44deg 91% 13%;
    --clr-yellow-95: 44deg 83% 9%;
    --clr-yellow-100: 44deg 83% 7%;

    --clr-brand-50: var(--clr-yellow-5);
    --clr-brand-100: var(--clr-yellow-10);
    --clr-brand-200: var(--clr-yellow-20);
    --clr-brand-300: var(--clr-yellow-30);
    --clr-brand-400: 36deg 96% 63%;
    --clr-brand-500: var(--clr-orange-40);
    --clr-brand-600: var(--clr-orange-60);
    --clr-brand-700: var(--clr-red-80);
    --clr-brand-800: var(--clr-magenta-90);
    --clr-brand-900: var(--clr-magenta-95);
    --clr-brand-950: var(--clr-purple-100);

    --clr-primary-50: var(--clr-orange-5);
    --clr-primary-100: var(--clr-orange-10);
    --clr-primary-200: var(--clr-orange-20);
    --clr-primary-300: var(--clr-orange-30);
    --clr-primary-400: var(--clr-orange-40);
    --clr-primary-500: var(--clr-orange-50);
    --clr-primary-600: var(--clr-orange-60);
    --clr-primary-700: var(--clr-orange-70);
    --clr-primary-800: var(--clr-orange-80);
    --clr-primary-900: var(--clr-orange-90);
    --clr-primary-950: var(--clr-orange-95);

    --clr-secondary-50: var(--clr-cyan-5);
    --clr-secondary-100: var(--clr-cyan-10);
    --clr-secondary-200: var(--clr-cyan-20);
    --clr-secondary-300: var(--clr-cyan-30);
    --clr-secondary-400: var(--clr-cyan-40);
    --clr-secondary-500: var(--clr-cyan-50);
    --clr-secondary-600: var(--clr-cyan-60);
    --clr-secondary-700: var(--clr-cyan-70);
    --clr-secondary-800: var(--clr-cyan-80);
    --clr-secondary-900: var(--clr-cyan-90);
    --clr-secondary-950: var(--clr-cyan-95);

    --clr-tertiary-50: var(--clr-base-5);
    --clr-tertiary-100: var(--clr-base-10);
    --clr-tertiary-200: var(--clr-base-20);
    --clr-tertiary-300: var(--clr-base-30);
    --clr-tertiary-400: var(--clr-base-40);
    --clr-tertiary-500: var(--clr-base-50);
    --clr-tertiary-600: var(--clr-base-60);
    --clr-tertiary-700: var(--clr-base-70);
    --clr-tertiary-800: var(--clr-base-80);
    --clr-tertiary-900: var(--clr-base-90);
    --clr-tertiary-950: var(--clr-base-95);

    --clr-light: var(--clr-white);
    --clr-dark: var(--clr-base-95);
    --clr-success: var(--clr-green-50);
  }

  //@media (prefers-color-scheme: dark) {
  //  :root {
  //
  //    --clr-brand-50: var(--clr-purple-100);
  //    --clr-brand-100: var(--clr-magenta-95);
  //    --clr-brand-200: var(--clr-magenta-90);
  //    --clr-brand-300: var(--clr-red-80);
  //    --clr-brand-400: var(--clr-orange-60);
  //    --clr-brand-500: var(--clr-orange-40);
  //    --clr-brand-600: 36deg 96% 63%;
  //    --clr-brand-700: var(--clr-yellow-30);
  //    --clr-brand-800: var(--clr-yellow-20);
  //    --clr-brand-900: var(--clr-yellow-10);
  //    --clr-brand-950: var(--clr-yellow-5);
  //
  //    --clr-primary-50: var(--clr-orange-95);
  //    --clr-primary-100: var(--clr-orange-90);
  //    --clr-primary-200: var(--clr-orange-80);
  //    --clr-primary-300: var(--clr-orange-70);
  //    --clr-primary-400: var(--clr-orange-60);
  //    --clr-primary-500: var(--clr-orange-50);
  //    --clr-primary-600: var(--clr-orange-40);
  //    --clr-primary-700: var(--clr-orange-30);
  //    --clr-primary-800: var(--clr-orange-20);
  //    --clr-primary-900: var(--clr-orange-10);
  //    --clr-primary-950: var(--clr-orange-5);
  //
  //    --clr-secondary-50: var(--clr-cyan-95);
  //    --clr-secondary-100: var(--clr-cyan-90);
  //    --clr-secondary-200: var(--clr-cyan-80);
  //    --clr-secondary-300: var(--clr-cyan-70);
  //    --clr-secondary-400: var(--clr-cyan-60);
  //    --clr-secondary-500: var(--clr-cyan-50);
  //    --clr-secondary-600: var(--clr-cyan-40);
  //    --clr-secondary-700: var(--clr-cyan-30);
  //    --clr-secondary-800: var(--clr-cyan-20);
  //    --clr-secondary-900: var(--clr-cyan-10);
  //    --clr-secondary-950: var(--clr-cyan-5);
  //
  //    --clr-tertiary-50: var(--clr-base-95);
  //    --clr-tertiary-100: var(--clr-base-90);
  //    --clr-tertiary-200: var(--clr-base-80);
  //    --clr-tertiary-300: var(--clr-base-70);
  //    --clr-tertiary-400: var(--clr-base-60);
  //    --clr-tertiary-500: var(--clr-base-50);
  //    --clr-tertiary-600: var(--clr-base-40);
  //    --clr-tertiary-700: var(--clr-base-30);
  //    --clr-tertiary-800: var(--clr-base-20);
  //    --clr-tertiary-900: var(--clr-base-10);
  //    --clr-tertiary-950: var(--clr-base-5);
  //
  //    --clr-light: var(--clr-base-95);
  //    --clr-dark: var(--clr-white);
  //    --clr-success: var(--clr-green-40);
  //  }
  //}
}
