@use "colors";
@use "variables";
@use "abstracts/font";
@use "abstracts/base";
@use "abstracts/layout";
@use "abstracts/typography";
@use "swiper";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  min-height: 100vh;
  min-height: 100dvh;
  scroll-padding-top: var(--scroll-padding-top);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;

  &:before {
    content: '';
    @apply absolute top-8 md:top-0 right-0 w-2/5 md:w-1/3 h-full -z-10 pointer-events-none;
    background-image: url("/assets/images/bg-top-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
  }
}

#__nuxt {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;

  .page-content {
    flex-grow: 1;

    main {
      @apply py-8 md:py-12;
    }
  }
}

@layer utilities {
  .bg-pattern-brand {

    &:before {
      content: '';
      @apply absolute top-0 left-0 w-full h-full -z-10;
      background-image: url("/assets/images/bg-pattern-brand.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .bg-pattern-gray {

    &:before {
      content: '';
      @apply absolute top-0 left-0 w-full h-full;
      background-image: url("/assets/images/bg-pattern-gray.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .bg-pattern-white {

    &:before {
      content: '';
      @apply absolute top-0 left-0 w-full h-full;
      background-image: url("/assets/images/bg-pattern-white.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .bg-pattern-opacity-25:before {
    @apply opacity-25;
  }

  .bg-pattern-opacity-50:before {
    @apply opacity-50;
  }

  .bg-pattern-opacity-75:before {
    @apply opacity-75;
  }

  .bg-pattern-opacity-100:before {
    @apply opacity-100;
  }
}

.gp-shape-mask {
  mask-image: url("/assets/images/gp-shape-mask.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: bottom right;
}

.gp-overlay::before {
  content: '';
  background-image: url("/assets/images/gp-img-overlay.png");
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  mask-image: url("/assets/images/gp-shape-mask.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: bottom right;
}


.prose [id] {
  scroll-margin-top: var(--prose-scroll-margin-top);
}

.backdrop {
  @apply fixed top-0 left-0 w-full h-full -z-10;
  backdrop-filter: blur(15px);

  &:before {
    content: '';
    @apply bg-secondary-800 dark:bg-tertiary-600 opacity-50 absolute top-0 left-0 w-full h-full;
  }
}

@layer utilities {
  .card {
    @apply bg-light dark:bg-dark shadow dark:ring-1 dark:ring-tertiary-500 dark:ring-opacity-30;
    .card-image-container {
      @apply relative overflow-hidden;
    }

    .card-image {
      transition: transform 0.3s ease;
    }

    .card:hover .card-image {
      transform: scale(1.1);
    }

    .card-title {
      @apply transform transition-colors dark:text-white text-tertiary-900;
    }

    .card-text {
      @apply text-tertiary-600 dark:text-tertiary-400;
    }

    &.card-link {
      @apply cursor-pointer transform transition-all;
      &:hover {
        @apply shadow-lg;
        .card-image {
          transform: scale(1.05);
        }

        .card-title {
          @apply text-primary-600 dark:text-primary-500;
        }
      }
    }
  }

  .card-invert {

    @apply bg-dark dark:bg-light shadow dark:ring-1 dark:ring-tertiary-500 dark:ring-opacity-30;

    .card-image-container {
      @apply relative overflow-hidden;
    }

    .card-image {
      transition: transform 0.3s ease;
    }

    .card:hover .card-image {
      transform: scale(1.1);
    }

    .card-title {
      @apply transform transition-colors text-white dark:text-tertiary-900;
    }

    .card-text {
      @apply text-tertiary-400 dark:text-tertiary-600;
    }

    &.card-link {
      @apply cursor-pointer transform transition-all;
      &:hover {
        @apply shadow-lg;
        .card-image {
          transform: scale(1.05);
        }

        .card-title {
          @apply text-primary-600 dark:text-primary-500;
        }
      }
    }
  }
}

html {
  /* CookieBar */
  --cookie-control-barBackground: hsl(var(--clr-light));
  --cookie-control-barButtonBackground: hsl(var(--clr-secondary-500));
  --cookie-control-barButtonColor: hsl(var(--clr-light));
  --cookie-control-barButtonHoverBackground: hsl(var(--clr-secondary-600));
  --cookie-control-barButtonHoverColor: hsl(var(--clr-light));
  --cookie-control-barTextColor: hsl(var(--clr-tertiary-900));
  --cookie-control-checkboxActiveBackground: hsl(var(--clr-success));
  --cookie-control-checkboxActiveCircleBackground: hsl(var(--clr-light));
  --cookie-control-checkboxDisabledBackground: hsl(var(--clr-tertiary-300));
  --cookie-control-checkboxDisabledCircleBackground: hsl(var(--clr-light));
  --cookie-control-checkboxInactiveBackground: hsl(var(--clr-tertiary-700));
  --cookie-control-checkboxInactiveCircleBackground: hsl(var(--clr-light));
  --cookie-control-controlButtonBackground: hsl(var(--clr-tertiary-100));
  --cookie-control-controlButtonHoverBackground: hsl(var(--clr-light));
  --cookie-control-controlButtonIconColor: hsl(var(--clr-tertiary-700));
  --cookie-control-controlButtonIconHoverColor: hsl(var(--clr-primary-500));
  --cookie-control-focusRingColor: hsl(var(--clr-tertiary-300));
  --cookie-control-modalBackground: hsl(var(--clr-light));
  --cookie-control-modalButtonBackground: hsl(var(--clr-secondary-500));
  --cookie-control-modalButtonColor: hsl(var(--clr-light));
  --cookie-control-modalButtonHoverBackground: hsl(var(--clr-secondary-600));
  --cookie-control-modalButtonHoverColor: hsl(var(--clr-light));
  --cookie-control-modalOverlay: hsl(var(--clr-tertiary-900));
  --cookie-control-modalTextColor: hsl(var(--clr-tertiary-900));
  --cookie-control-modalUnsavedColor: hsl(var(--clr-light));

  &.dark {
    --cookie-control-barBackground: hsl(var(--clr-tertiary-950));
    --cookie-control-barButtonBackground: hsl(var(--clr-secondary-500));
    --cookie-control-barButtonColor: hsl(var(--clr-light));
    --cookie-control-barButtonHoverBackground: hsl(var(--clr-secondary-600));
    --cookie-control-barButtonHoverColor: hsl(var(--clr-dark));
    --cookie-control-barTextColor: hsl(var(--clr-light));
    --cookie-control-checkboxActiveBackground: hsl(var(--clr-success));
    --cookie-control-checkboxActiveCircleBackground: hsl(var(--clr-light));
    --cookie-control-checkboxDisabledBackground: hsl(var(--clr-tertiary-700));
    --cookie-control-checkboxDisabledCircleBackground: hsl(var(--clr-tertiary-400));
    --cookie-control-checkboxInactiveBackground: hsl(var(--clr-tertiary-500));
    --cookie-control-checkboxInactiveCircleBackground: hsl(var(--clr-light));
    --cookie-control-controlButtonBackground: hsl(var(--clr-tertiary-500));
    --cookie-control-controlButtonHoverBackground: hsl(var(--clr-tertiary-300));
    --cookie-control-controlButtonIconColor: hsl(var(--clr-dark));
    --cookie-control-controlButtonIconHoverColor: hsl(var(--clr-dark));
    --cookie-control-focusRingColor: hsl(var(--clr-tertiary-700));
    --cookie-control-modalBackground: hsl(var(--clr-dark));
    --cookie-control-modalButtonBackground: hsl(var(--clr-secondary-500));
    --cookie-control-modalButtonColor: hsl(var(--clr-light));
    --cookie-control-modalButtonHoverBackground: hsl(var(--clr-secondary-600));
    --cookie-control-modalButtonHoverColor: hsl(var(--clr-light));
    --cookie-control-modalOverlay: hsl(var(--clr-tertiary-900));
    --cookie-control-modalTextColor: hsl(var(--clr-light));
    --cookie-control-modalUnsavedColor: hsl(var(--clr-dark));
  }

  .cookieControl {
    z-index: 45;

    &__Bar {
      @apply shadow-2xl border-t border-tertiary-200 dark:border-tertiary-800;

      &Container {
        @apply flex gap-2 flex-col lg:flex-row mx-auto py-5 lg:py-7;
        max-width: var(--site-max-width);
        padding-left: var(--section-padding-x);
        padding-right: var(--section-padding-x);
      }

      h2 {
        @apply text-2xl font-alt font-semibold;
        margin-bottom: .25em;
      }

      button {
        @apply px-4 py-2 whitespace-nowrap;
        border-radius: var(--button-radius);
      }

      &Buttons {
        @apply mt-2;
      }
    }

    &__Modal {
      backdrop-filter: blur(15px);

      &:after {
        @apply bg-secondary-800 opacity-25 absolute top-0 left-0 w-full h-full;
      }
    }

    &__ModalContent {
      @apply shadow-lg;
      max-height: 95vh;
      height: auto;
      display: inline-flex;
      overflow: hidden;

      h2 {
        @apply text-2xl font-alt font-semibold relative;
        margin: 0.75em 0 0.25em;
      }

      li + li {
        margin-top: 1em;
      }
    }

    &__ModalContentInner {
      @apply px-6 pt-6 pb-0 h-full flex flex-col;
      height: auto;
      overflow: auto;
      max-height: 100%;
    }

    &__ModalUnsaved {
      @apply text-light px-2 bg-tertiary-900 bg-opacity-50 rounded-full;
      bottom: 4vh;
    }

    &__ModalClose {
      @apply absolute top-4 right-6 cursor-pointer;
    }

    &__Modal {
      a {
        @apply text-secondary-700 dark:text-secondary-500 underline hover:no-underline;
      }

      button {
        border-radius: var(--button-radius);
        @apply px-4 py-2;
      }

      &Buttons {
        @apply flex gap-3 md:gap-4 mt-auto md:mt-6  sticky bottom-0 bg-light dark:bg-dark py-3  border-t border-tertiary-200 dark:border-tertiary-800;
        button {
          @apply flex-1;
        }
      }

      &CookieName {
        span {
          @apply text-base;
        }
      }
    }
  }
}

//.video-container {
//  position: relative;
//  width: 100%;
//  padding-top: 56.25%; /* for 16:9 aspect ratio */
//  overflow: hidden;
//}
//
//.video-container iframe {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//}