@layer base {
  /* Color styles */
  /* https://tailwindcss.com/docs/customizing-colors. */
  /* tailwind config: hsl(198deg 93% 60% / <alpha-value>) */
  :root {

    /* Colors */


    /* Fonts */
    --font-family-base: "Inter", "Modern Antiqua", ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-alt: "Poppins", "Modern Antiqua", ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

    /* Site Width */
    --site-max-width: 1280px;
    --site-bg-clr: hsl(var(--clr-light));

    /* Border Radius */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;

    /* Section Padding */
    --section-padding-x: 1.2rem;
    --section-padding-x-sm: 2rem;
    --section-padding-x-md: 2.5rem;
    --section-padding-x-lg: 3rem;
    --section-padding-y: 2.5rem;
    --section-padding-y-sm: 2.5rem;
    --section-padding-y-md: 3.5rem;
    --section-padding-y-lg: 4rem;
    --section-padding-scale-x: 1;
    --section-padding-scale-y: 1;

    --header-height: 80px;
    /* Scroll margin top */
    --scroll-padding-top: calc(var(--header-height));
    --prose-scroll-margin-top: 16px; // always in pixels
  }


  body {
    --body-text-color: hsl(var(--clr-dark));
    /* Typography */
    --body-font-family: var(--font-family-base);
    --body-font-weight: 400;
    --title-font-family: var(--font-family-base);
    --title-font-weight: 600;
    --headings-font-family: var(--font-family-alt);
    --headings-font-weight: 600;
    /* Buttons */
    --button-bg: hsl(var(--clr-primary));
    --button-bg-hover: hsl(var(--clr-primary-dark));
    --button-text: hsl(var(--clr-light));
    --button-text-hover: hsl(var(--clr-light));
    --button-font-family: var(--font-family-base);
    --button-font-weight: 600;
    --button-border-clr: hsl(var(--clr-primary));
    --button-border-width: 1px;
    --button-radius: var(--border-radius-md);
    --button-text-transform: uppercase;

    .active {
      --button-bg: hsl(var(--clr-secondary));
      --button-bg-hover: hsl(var(--clr-primary-dark));
      --button-text: hsl(var(--clr-light));
      --button-text-hover: hsl(var(--clr-light));
    }

    & {
      /* Tabs */
      --tab-text: hsl(var(--clr-base-500));
      --tab-text-hover: hsl(var(--clr-base-900));
      --tab-text-active: hsl(var(--clr-primary));
      --tab-text-grey: hsl(var(--clr-base-300));
      --tab-bg-active: hsl(var(--clr-light));
      --tab-border-clr: hsl(var(--clr-base-200));
      /* Search */
      --layout-search-bg: hsl(var(--clr-base-100));
      /* Input */
      --input-bg: hsl(var(--clr-light));
      --input-border-color: hsl(var(--clr-base-100));
      --input-border-width: 0;
      --input-text: hsl(var(--clr-base-900));
      --input-placeholder: hsl(var(--clr-base-400));
      --input-font-weight: 500;
      /* On Focus */
      --input-shadow-color: hsl(var(--clr-base-200));
      --input-shadow-opacity: 1;
      --input-shadow-blur: 0;
      --input-shadow-spread: 3px;
      --input-shadow-xOffset: 0;
      --input-shadow-yOffset: 0;

      /* Transition */
      --transition-fast: 0.15s;
      --transition-base: 0.25s;
      --transition-slow: 0.35s;
    }
  }
}