<template>
  <main class="">
    <PageToc v-if="page && page.toc === true"/>
    <div class="site-width section-padding-x mx-auto">
      <ContentDoc class="prose dark:prose-invert"/>
    </div>

    <div class="site-width section-padding-x mx-auto flex items-center justify-center gap-8 border-tertiary-200 py-8">
      <div class="grid gap-8 sm:grid-cols-2 w-full">
        <NuxtLink :to="next._path" v-if="next && next._path.includes('/blog/')"
                  class="block px-6 py-8 border not-prose rounded-lg border-tertiary-200  hover:bg-tertiary-100/50 group">
          <div
              class="inline-flex items-center rounded-full p-1.5 group-hover:bg-primary/10 ring-1 ring-tertiary-300 mb-4 group-hover:ring-primary/50">
          <span class=" flex w-5 h-5 group-hover:text-primary items-center justify-center">
            <NuxtIcon name="ion:arrow-back-sharp"/>
          </span>
          </div>
          <p class="font-medium text-[15px] mb-1">{{ next.title }}</p>
          <p class="text-sm font-normal text-tertiary-500 line-clamp-2" v-if="next.description">{{
              next.description
            }}</p>
        </NuxtLink>
        <div v-else></div>

        <NuxtLink :to="prev._path" v-if="prev && prev._path.includes('/blog/')"
                  class="block px-6 py-8 border not-prose rounded-lg border-tertiary-200  hover:bg-tertiary-100/50 group text-right">
          <div
              class="inline-flex items-center rounded-full p-1.5 group-hover:bg-primary/10 ring-1 ring-tertiary-300 mb-4 group-hover:ring-primary/50">
          <span class="flex w-5 h-5 group-hover:text-primary items-center justify-center">
            <NuxtIcon
                name="ion:arrow-forward-sharp"/></span></div>
          <p class="font-medium text-[15px] mb-1">{{ prev.title }}</p>

          <p class="text-sm font-normal text-tertiary-500 line-clamp-2" v-if="prev.description">{{
              prev.description
            }}</p>
        </NuxtLink>
        <div v-else></div>
      </div>
    </div>
  </main>

</template>

<script setup>
const {page, next, prev} = useContent()
defineOgImageComponent('BlogPost')
</script>