<template>

  <main>
    <PageToc v-if="page && page.toc === true"/>
    <div class="site-width section-padding-x mx-auto">
      <ContentDoc class="prose dark:prose-invert max-w-full"/>
    </div>
    <div class="site-width section-padding mx-auto">
      <div v-if="blog.length > 0" class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
        <blog-card
            v-for="(blogItem, id) in blog"
            :key="id"
            :item="blogItem"
        />
      </div>
      <div v-else>
        <p>No blogs found</p>
      </div>
    </div>
  </main>

</template>

<script setup>
const {page} = useContent()
const {data: blog} = await useAsyncData("all-blogs", () =>
    queryContent("/resources/blog").sort({date: -1}).where({_path: {$ne: '/resources/blog'}}).find()
);
defineOgImageComponent('BlogPost')
</script>