<template>

  <main>
    <PageToc v-if="page && page.toc === true"/>
    <div class="site-width section-padding-x mx-auto">
      <ContentDoc class="prose dark:prose-invert max-w-full"/>
    </div>
    <div class="site-width section-padding mx-auto">
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 md:gap-8">
        <case-card
            v-for="(CaseItem, id) in cases"
            :key="id"
            :item="CaseItem"
        />
      </div>
    </div>
  </main>

</template>

<script setup>
const {page} = useContent()
const {data: cases} = await useAsyncData("all-casestudies", () =>
    queryContent("/resources/case-studies").sort({date: -1}).where({_path: {$ne: '/resources/case-studies'}}).find()
);
defineOgImageComponent('BlogPost')
</script>