<template>
  <main>
    <PageToc v-if="page && page.toc === true"/>
    <div class="site-width section-padding-x mx-auto">
      <div class="prose dark:prose-invert max-w-full">
        <ContentDoc>
          <slot/>
          <template #not-found>
            <h1>404 Document not found</h1>
          </template>
          <template #empty>
            <h1>No content found</h1>
          </template>
        </ContentDoc>
      </div>
    </div>
  </main>
  <paging-next-prev v-if="page?.PagingNextPrev === true"/>

</template>

<script setup>
const {page} = useContent()

defineOgImageComponent('BlogPost')
</script>