<template>
  <HomeHero/>

  <div
      class="prose max-w-none prose-sm md:prose-base prose-blockquote:not-italic prose-pre:bg-tertiary-900 prose-img:ring-1 prose-img:ring-tertiary-200 prose-img:rounded-lg"
  >
    <ContentDoc>
      <slot/>
      <template #not-found>
        <h1>Document not found</h1>
      </template>
      <template #empty></template>
    </ContentDoc>
  </div>
  <section class="bg-light dark:bg-tertiary-900 section-padding section-padding-lg-y">
    <div class="site-width mx-auto flex flex-col gap-8 md:gap-10 lg:gap-12">
      <div class="max-w-screen-md md:text-center mx-auto">
        <h2 class="heading font-heading">
          Your return on investigation
        </h2>
        <!-- <div class="heading-subtitle mb-2 text-tertiary-500">Your return on investigation</div> -->
        <p class="heading-text">
          GraphPolaris transforms graph database knowledge into actionable
          insights. Our intuitive SaaS platform enables users without data
          science expertise to analyze network graphs easily, enhancing business
          performance through six key expertises.
        </p>
      </div>

      <div
          class="grid gap-6 md:gap-4 lg:gap-8 sm:grid-cols-2 md:grid-cols-3 md:space-y-0"
      >
        <HomeExpertises
            v-for="(expertise, index) in expertises?.expertises"
            :key="index"
            :image="expertise.image"
            :title="expertise.title"
            :description="expertise.description"
            :benefits="expertise.benefits"
        />
      </div>
    </div>
  </section>

  <section
      id="solutions"
      class="section-padding section-padding-lg-y bg-tertiary-500 dark:bg-tertiary-700 relative"
  >
    <div
        class="bg-pattern-gray dark:bg-pattern-white bg-pattern-opacity-75 dark:bg-pattern-opacity-25 absolute w-full h-full top-0 left-0"
    ></div>

    <div
        class="site-width mx-auto flex flex-col gap-8 md:gap-10 lg:gap-12 relative"
    >
      <div class="text-light">
        <h2 class="heading font-heading">Solution areas</h2>
        <p class="heading-text">
          GraphPolaris provides comprehensive solutions tailored for the
          challenges in your industry. Our approach allows us to tackle the
          problems in your domain ecosystem structurally, by identifying the
          biggest return on investigation.
        </p>
      </div>
      <div class="grid md:grid-cols-3 gap-4 md:gap-8">
        <HomeSolutions
            v-for="(item, id) in solutions"
            :key="id"
            :solution="item as solutionItem"
        />
      </div>
      <div class="py-2 md:pt-6 text-center">
        <h3 class="text-xl md:text-3xl text-light">
          Explore the solutions we can bring to you
        </h3>
        <UButton
            to="/solutions"
            class="mt-4"
            size="xl"
            color="secondary"
            variant="solid"
        >Check out our solutions!
        </UButton>
      </div>
    </div>
  </section>

  <section
      class="bg-tertiary-50 dark:bg-dark section-padding-y section-padding-lg-y flex flex-col gap-4"
      id="product"
  >
    <div
        class="site-width section-padding-x mx-auto text-center flex flex-col gap-3"
    >
      <div class="">
        <h2 class="heading font-heading">Our Product</h2>
        <p class="heading-subtitle opacity-50">
          Build the answer to your question
        </p>
      </div>
    </div>
    <HomeFeatures/>
    <div class="site-width section-padding-t section-padding-sm-y text-center">
      <h2 class="text-xl md:text-3xl">Learn more about our product</h2>
      <div class="flex flex-row gap-4 mt-4 justify-center items-center">
        <!--        <UButton to="/resources/videos" variant="solid" size="xl" trailing-icon="i-heroicons-play">Demo video-->
        <!--        </UButton>-->
        <UButton
            to="/resources/videos"
            variant="solid"
            size="xl"
            trailing-icon="i-heroicons-arrow-right-20-solid"
        >
          All videos
        </UButton>
        <UModal v-model="isOpen" fullscreen>
          <UCard
              :ui="{
              base: 'h-full flex flex-col',
              rounded: '',
              divide: 'divide-y divide-tertiary-100',
              body: {
                base: 'grow',
              },
            }"
          >
            <template #header>
              <div class="flex items-center justify-between">
                <h3
                    class="text-base font-semibold leading-6 text-tertiary-900"
                ></h3>
                <UButton
                    color="gray"
                    variant="ghost"
                    icon="i-heroicons-x-mark-20-solid"
                    class="-my-1"
                    @click="isOpen = false"
                />
              </div>
            </template>
            <div class="w-full h-full flex justify-center items-center">
              <div class="video-container" style="padding-bottom: 50%">
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube-nocookie.com/embed/to84KWv6L9E"
                    title="GraphPolaris"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                ></iframe>
              </div>
            </div>
          </UCard>
        </UModal>
      </div>
    </div>
  </section>

  <section
      class="bg-brand-100 bg-gradient-to-br from-brand-100 to-orange-400 section-padding-x section-padding-t section-padding-lg-y flex flex-col gap-4 md:gap-6 lg:gap-8 relative z-10"
      id="approach"
  >
    <div
        class="bg-pattern-white absolute w-full h-full left-0 top-0 opacity-50"
    ></div>
    <div class="site-width mx-auto md:text-center z-10">
      <h2 class="heading font-heading text-tertiary-900">
        Our Runway Approach
      </h2>
      <p class="heading-subtitle mb-2 text-brand-700">
        Ready to explore your data in only 6 steps?
      </p>
      <div class="heading-text md:mx-auto text-tertiary-900">
        GraphPolaris is with you throughout our runway approach - take off by
        sharing your challenges and land with the generated insights ready for
        solution adoption. We provide to you the tools of a unique data
        exploration journey.
      </div>
    </div>
    <HomeApproach/>
  </section>
  <CTA
      title="Excited to experience your data?"
      subtitle="Get in touch with us for questions and a demo"
  >
    <UButton
        label="Request a demo"
        size="xl"
        variant="solid"
        to="/contact"
        color="secondary"
    />
    <p class="text-tertiary-700 dark:text-tertiary-300 text-xs">
      Free of charge! Free of commitment! Explore your opportunities today!
    </p>
  </CTA>
</template>
<script setup lang="ts">
const isOpen = ref(false);

const {data: solutions} = await useAsyncData('solutions', () =>
    queryContent('/solutions')
        .where({_path: {$ne: '/solutions'}})
        .find(),
);

const {data: expertises} = await useAsyncData('expertises-all', () =>
    queryContent('/_home/expertises').where({_partial: true}).findOne(),
);

defineOgImageComponent('DefaultImage');
</script>

<style lang="scss"></style>
