<template>
  <main>
    <div class="site-width section-padding-x mx-auto">
      <ContentDoc class="prose dark:prose-invert max-w-full"/>
    </div>
    <div class="site-width section-padding-x mx-auto">
      <div class="w-full flex flex-col items-center">
        <img src="/assets/under-construction.svg" alt="Under Construction" class="w-24 md:w-32 mb-5"/>
        <h3 class="font-semibold text-xl md:text-2xl ">Under Construction</h3>
        <p class="opacity-65 text-center text-sm md:text-base">This page is under construction. Please check back
          later.</p>
      </div>
      <!--
      <div class="grid gap-14 md:gap-8 relative timeline-container">

              <article
                  class="news-item bg-light dark:bg-dark border border-tertiary-200 dark:border-tertiary-700 flex flex-col grow relative"
                  v-for="(item, id) in news"
                  :key="id"
              >
                <div class="card-image-container relative" v-if="item.img">
                  <div class="px-4 py-3 text-light absolute w-full bottom-0 bg-dark bg-opacity-50">
                    <h3 class="font-title card-title md:text-lg md:leading-snug">
                      {{ item.title }}
                    </h3>
                  </div>
                  <NuxtImg
                      :src="item.img ? item.img : '/assets/placeholder.jpg'"
                      :alt="item.title"
                      width="400" height="240"
                      class="w-full card-image"
                  />
                </div>
                <div class="p-4 lg:p-6 flex flex-col grow gap-1">
                  <h3 v-if="!item.img" class="font-semibold card-title md:text-lg md:leading-snug">
                    {{ item.title }}
                  </h3>
                  <p class="text-tertiary-600 dark:text-tertiary-300 text-sm md:text-base" v-if="item.text">
                    {{ item.text }}
                  </p>
                </div>
                <time :datetime="item.date" class="news-item-date">
                  {{ formatDate(item.date) }}
                </time>
              </article>

            </div>
            -->
    </div>
  </main>
</template>

<script setup>
const {formatDate} = useDateFormat();

const {data: news} = await useAsyncData("all-news", () =>
    queryContent("/resources/_news").where({_path: {$ne: '/resources/news'}}).where({_partial: true}).sort({date: -1}).find()
);
defineOgImageComponent('BlogPost')
</script>

<style lang="scss">
.news-item {
  margin-left: 3rem;
  width: calc(100% - 3rem);

  &:before {
    content: '';
    position: absolute;
    transform-origin: center;
    transform: translateX(50%) rotate(45deg);
    left: calc(-3rem - 1px);
    @apply w-4 h-4 bg-primary-500 shadow border border-primary-600;
  }

  &:after {
    content: '';
    position: absolute;
    left: -2rem;
    top: calc(0.5rem - 1px);
    z-index: -1;
    width: 3rem;
    height: 2px;
    @apply bg-tertiary-300 dark:bg-tertiary-500;
  }

  @screen md {
    width: calc(50% - 2rem);
    margin-left: auto;
    min-height: 12rem;
    &:not(:first-child) {
      margin-top: -6rem;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }
  }
  .news-item-date {
    position: absolute;
    z-index: 1;
    top: -2rem;
    left: 0;
    @apply flex font-medium items-center gap-3 opacity-75;


    @screen md {
      top: -2rem;
    }
  }

  @screen md {
    &:nth-child(odd) {
      .news-item-date {
        flex-direction: row-reverse;
        left: auto;
        right: 0;
      }

      &:before {
        left: auto;
        right: calc(-3rem - 1px);
        transform: translateX(-50%) rotate(45deg);
      }

      &:after {
        left: auto;
        right: -2rem;
      }
    }
  }
}

.timeline-container {
  position: relative;

}

.timeline-container::before {
  content: '';
  position: absolute;
  left: calc(1rem - 1px);
  top: -1.5rem;
  bottom: -1rem;
  width: 2px;
  @apply bg-tertiary-300 dark:bg-tertiary-500;
  @screen md {
    left: 50%;
    transform: translateX(-50%);
  }
}
</style>