<template>
  <main>

    <div class="site-width section-padding-x mx-auto">
      <ContentDoc class="prose dark:prose-invert max-w-full"/>
    </div>

    <div class="flex flex-col gap-10 md:gap-16 section-padding-y section-padding-sm-y">

      <section v-if="blog && blog.length > 0">
        <div class="row-header site-width mx-auto section-padding-x">
          <h2 class="heading-sm font-heading opacity-70 m-0">Blog</h2>
          <UButton label="View all" to="/resources/blog"/>
        </div>
        <div class="w-full overflow-hidden">
          <div class="site-width section-padding-x mx-auto pt-4 pb-6 md:pb-8">
            <Swiper
                class="slides-same-height with-cards"
                style="overflow: visible;"
                :modules="[SwiperPagination, SwiperNavigation]"
                :slides-per-view="4"
                :loop="false"
                :pagination="{
            clickable: true,
          }"
                :navigation="true"
                :breakpoints="{
            1024: {
              slidesPerView: 3,
              spaceBetween: 32,
              centeredSlides: false
            },
            768: {
              slidesPerView: 3,
              spaceBetween: 24,
              centeredSlides: false
            },
            640: {
              slidesPerView: 2,
              spaceBetween: 16,
              centeredSlides: false
            },
            320: {
              slidesPerView: 1.25,
              spaceBetween: 12,
              centeredSlides: true
            }}"
            >
              <SwiperSlide v-for="(blogItem, id) in blog" :key="id">
                <blog-card
                    :item="blogItem as cardItem"
                />

              </SwiperSlide>
            </Swiper>
          </div>
        </div>
      </section>

      <section v-if="cases && cases.length > 0">
        <div class="row-header site-width mx-auto section-padding-x">
          <h2 class="heading-sm font-heading opacity-70 m-0">Case Studies</h2>
          <UButton label="View all" to="/resources/case-studies"/>
        </div>
        <div class="w-full  overflow-hidden">
          <div class="site-width section-padding-x mx-auto pt-4 pb-6 md:pb-8">
            <Swiper
                class="slides-same-height with-cards"
                style="overflow: visible;"
                :modules="[SwiperPagination, SwiperNavigation]"
                :slides-per-view="4"
                :loop="false"
                :effect="'creative'"
                :pagination="{
            clickable: true,
          }"
                :navigation="true"
                :breakpoints="{
            1024: {
              slidesPerView: 3,
              spaceBetween: 32,
              centeredSlides: false
            },
            768: {
              slidesPerView: 3,
              spaceBetween: 24,
              centeredSlides: false
            },
            640: {
              slidesPerView: 2,
              spaceBetween: 16,
              centeredSlides: false
            },
            320: {
              slidesPerView: 1.25,
              spaceBetween: 12,
              centeredSlides: true
            }}"
            >
              <SwiperSlide v-for="(casesItem, id) in cases" :key="id">
                <case-card
                    :item="casesItem"
                />

              </SwiperSlide>
            </Swiper>
          </div>
        </div>
      </section>

      <!--
            <section v-if="news && news.length > 0">

              <div class="row-header site-width mx-auto section-padding-x">

                <h2 class="heading-sm font-heading opacity-70 m-0">News & Events</h2>
                <UButton label="View all" to="/resources/news"/>
              </div>
              <div class="w-full  overflow-hidden">
                <div class="site-width section-padding-x mx-auto pt-4 pb-6 md:pb-8">
                  <Swiper
                      class="slides-same-height with-cards"
                      style="overflow: visible;"
                      :modules="[SwiperPagination, SwiperNavigation]"
                      :slides-per-view="4"
                      :loop="false"
                      :pagination="{
                  clickable: true,
                }"
                      :navigation="true"
                      :breakpoints="{
                  1024: {
                    slidesPerView: 3,
                    spaceBetween: 32,
                    centeredSlides: false
                  },
                  768: {
                    slidesPerView: 3,
                    spaceBetween: 24,
                    centeredSlides: false
                  },
                  640: {
                    slidesPerView: 2,
                    spaceBetween: 16,
                    centeredSlides: false
                  },
                  320: {
                    slidesPerView: 1.25,
                    spaceBetween: 12,
                    centeredSlides: true
                  }}"
                  >
                    <SwiperSlide v-for="(newsItem, id) in news" :key="id">
                      <news-card
                          :item="newsItem"
                      />

                    </SwiperSlide>
                  </Swiper>
                </div>
              </div>
            </section>
      -->

      <section v-if="videos && videos.length > 0">
        <div class="row-header site-width mx-auto section-padding-x">
          <h2 class="heading-sm font-heading opacity-70 m-0">Videos</h2>
          <UButton label="View all" to="/resources/videos"/>
        </div>
        <div class="w-full overflow-hidden">
          <div class="site-width section-padding-x mx-auto pt-4 pb-6 md:pb-8">
            <Swiper
                class="slides-same-height with-cards"
                style="overflow: visible;"
                :modules="[SwiperPagination, SwiperNavigation]"
                :slides-per-view="3"
                :loop="false"
                :pagination="{
            clickable: true,
          }"
                :navigation="true"
                :breakpoints="{
            1024: {
              slidesPerView: 3,
              spaceBetween: 32,
              centeredSlides: false
            },
            768: {
              slidesPerView: 3,
              spaceBetween: 24,
              centeredSlides: false
            },
            640: {
              slidesPerView: 2,
              spaceBetween: 16,
              centeredSlides: false
            },
            320: {
              slidesPerView: 1.25,
              spaceBetween: 12,
              centeredSlides: true
            }}"
            >
              <SwiperSlide v-for="(videoItem, id) in videos" :key="id" @click="selectVideo(videoItem as any)">
                <video-card :item="videoItem" @click="selectVideo(videoItem as any)"/>
              </SwiperSlide>

            </Swiper>
          </div>
        </div>
        <VideoModal :isOpen="isOpen" :selectedVideo="selectedVideo" @update:isOpen="isOpen = $event"/>

      </section>

      <!--
            <section>
              <div class="row-header site-width mx-auto section-padding-x">
                <h2 class="heading-sm font-heading opacity-70 m-0">Our Impact</h2>
              </div>

              <div class="site-width section-padding-x mx-auto pt-4 pb-6 md:pb-8">
                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-2">
                  <NuxtLink
                      to="/resources/our-impact/#sdg-11-sustainable-cities-and-communities" class="card card-link">
                    <NuxtImg src="/images/resources/sdg/sdg-goal-11.png" alt="Sustainable Cities and Communities"
                             class="w-full mx-auto max-w-3xl hover:opacity-70 transition-opacity"
                             loading="lazy"/>
                  </NuxtLink>
                  <NuxtLink to="/resources/our-impact/#sdg-4-quality-education" class="card card-link">
                    <NuxtImg src="/images/resources/sdg/sdg-goal-04.png" alt="Quality Education"
                             class="w-full mx-auto max-w-3xl hover:opacity-70 transition-opacity"
                             loading="lazy"/>
                  </NuxtLink>
                  <NuxtLink to="/resources/our-impact/#sdg-3-good-health-and-well-being" class="card card-link">
                    <NuxtImg src="/images/resources/sdg/sdg-goal-03.png" alt="Good Health and Well-Being"
                             class="w-full mx-auto max-w-3xl hover:opacity-70 transition-opacity"
                             loading="lazy"/>
                  </NuxtLink>
                  <NuxtLink to="/resources/our-impact/#sdg-9-industry-innovation-and-infrastructure"
                            class="card card-link">
                    <NuxtImg src="/images/resources/sdg/sdg-goal-09.png" alt="Industry, Innovation and Infrastructure"
                             class="w-full mx-auto max-w-3xl hover:opacity-70 transition-opacity"
                             loading="lazy"/>
                  </NuxtLink>
                  <NuxtLink to="/resources/our-impact/#sdg-12-responsible-production-and-consumption"
                            class="card card-link">
                    <NuxtImg src="/images/resources/sdg/sdg-goal-12.png" alt="Responsible Production and Consumption"
                             class="w-full mx-auto max-w-3xl hover:opacity-70 transition-opacity"
                             loading="lazy"/>
                  </NuxtLink>
                </div>
                &lt;!&ndash;          <NuxtLink to="/resources/our-impact" class="hover:opacity-75">&ndash;&gt;
                &lt;!&ndash;            <NuxtImg src="/images/resources/SDG-logo.png" alt="SDG" class="w-full mx-auto max-w-36" loading="lazy"/>&ndash;&gt;
                &lt;!&ndash;          </NuxtLink>&ndash;&gt;
              </div>
            </section>
      -->
    </div>
  </main>

</template>

<script setup lang="ts">
defineOgImageComponent('BlogPost')
import {ref} from "vue";
import VideoModal from "~/components/VideoModal.vue";

// exclude the root path (index.md) from the query by using $ne
const {data: blog} = await useAsyncData("all-blogs", () =>
    queryContent("/resources/blog").where({_path: {$ne: '/resources/blog'}}).sort({date: -1}).find()
);

const {data: cases} = await useAsyncData("all-casestudies", () =>
    queryContent("/resources/case-studies").where({_path: {$ne: '/resources/case-studies'}}).sort({date: -1}).find()
);

const {data: news} = await useAsyncData("all-news", () =>
    queryContent("/resources/_news").where({_path: {$ne: '/resources/news'}}).where({_partial: true}).sort({date: -1}).find()
);

const {data: videos} = await useAsyncData("all-videos", () =>
    queryContent("/resources/_videos").where({_path: {$ne: '/resources/videos'}}).where({_partial: true}).find()
);

const isOpen = ref(false);
const selectedVideo = ref<Video | null>(null);

function selectVideo(video: Video) {
  selectedVideo.value = video;
  isOpen.value = true;
}
</script>

<style lang="scss">
.row-header {
  @apply md:mb-2;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    @apply font-semibold text-2xl md:text-3xl;
  }
}

.with-cards {
  --swiper-navigation-sides-offset: -10px;
  --swiper-pagination-bottom: -1.6rem;
  @screen md {
    --swiper-pagination-bottom: -2rem;
    --swiper-navigation-sides-offset: -40px;
  }
  @screen lg {
    --swiper-pagination-bottom: -2.4rem;
    --swiper-navigation-sides-offset: -52px;
  }
}
</style>