<template>
  <main>

    <div class="site-width mx-auto section-padding-x">
      <ContentDoc class="prose dark:prose-invert max-w-full"/>
    </div>
    <div class="bg-tertiary-200 dark:bg-tertiary-700 bg-opacity-50 dark:bg-opacity-50 backdrop-blur">
      <div class="site-width  mx-auto section-padding-x py-6">
        <ul class="kpi-list font-alt">
          <li>
            <NuxtIcon name="material-symbols:check"/>
            <span>Faster</span>
            to first insight
          </li>
          <li>
            <NuxtIcon name="material-symbols:check"/>
            Every insight
            <span>explainable</span>
          </li>
          <li>
            <NuxtIcon name="material-symbols:check"/>
            <span>Full grasp</span>
            on data
          </li>
        </ul>
      </div>
    </div>


    <!--    <section class="section-padding site-width flex flex-col gap-4 md:gap-6">-->
    <!--      <h2 class="heading-sm">Solutions</h2>-->
    <!--      <div class="grid gap-4 md:gap-6 lg:gap-8">-->
    <!--        <SolutionSection-->
    <!--            v-for="(item, id) in solutions"-->
    <!--            :key="id"-->
    <!--            :solution="item"-->
    <!--        />-->
    <!--      </div>-->
    <!--    </section>-->

    <section>
      <div class="site-width section-padding mx-auto flex flex-col gap-2 md:gap-4">
        <div class="grid md:grid-cols-2 gap-8 md:gap-10">
          <LazyQuestions v-for="(question, id) in questions" :key="id" :question="question"/>
        </div>
      </div>
    </section>

    <!--    <section>-->
    <!--      <div class="site-width section-padding mx-auto bg-pattern-brand flex flex-col gap-4 md:gap-6">-->
    <!--        <h2 class="heading-sm text-center text-light">Impact</h2>-->
    <!--        <div class="grid grid-cols-3 gap-4 md:gap-8">-->
    <!--          <div class="kpi"><span class="kpi-value">100%</span> faster</div>-->
    <!--          <div class="kpi"><span class="kpi-value">50%</span>more accurate</div>-->
    <!--          <div class="kpi"><span class="kpi-value">30%</span>more efficient</div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </section>-->

  </main>
  <CTA title="Check out more problems we can provide a solution to by exploring our priority industry domains."
       subtitle="Don't see your industry but you experience one of these
      challenges?">
    <p>Get in touch with us and we can assist you! </p>
    <UButton label="Request a demo" size="xl" variant="solid" to="/contact" color="secondary" @click="$gtm.push({ event:'button_click',
      action: 'Click',
      label: 'Request Demo'})"/>
    <!--    <p class="text-tertiary-500 text-xs">Free of charge! Free of commitment! Explore your opportunities today!</p>-->
  </CTA>
</template>
<style lang="scss" scoped>
.kpi-list {
  @apply flex flex-col justify-evenly lg:flex-row flex-wrap gap-1 lg:gap-5 text-lg md:text-xl xl:text-2xl;
  li {
    @apply flex items-center gap-1;
  }

  .icon {
    font-size: 1.6em;
    @apply text-secondary-600 dark:text-secondary-400;
  }

  span {
    @apply font-semibold;
    padding: 0.1em 0.2em;
  }
}

.kpi {
  @apply bg-light p-4 md:p-6 text-center flex flex-col justify-center items-center text-xl md:text-2xl;
  &-value {
    @apply text-4xl md:text-5xl font-bold text-secondary-700;
    font-weight: 700;

  }
}
</style>

<script setup>
defineOgImageComponent('BlogPost')
const questions = [
  {
    title: "Anomaly detection",
    subtitle: "Low probability - high impact",
    items: [
      {
        title: "Asset Performance Management",
        text: "Outage",
        color: "orange",
        icon: "lucide:boxes",
        link: "/solutions/asset-performance-management"
      },
      {
        title: "Security & Intelligence",
        text: "Breach",
        color: "purple",
        icon: "icon-park-solid:protect",
        link: "/solutions/security-intelligence"
      },
      {
        title: "Healthcare & Personalized Pathways",
        text: "Outbreak Management",
        color: "green",
        icon: "mdi:medicine-bottle",
        link: "/solutions/healthcare-personalized-pathways"
      }
    ],
    tags: [
      "Path Analysis",
      "Situational Awareness",
      "Multi-criteria decision-making"
    ]
  },
  {
    title: "Fraud detection",
    subtitle: "Few are messing up for many",
    items: [
      {
        title: "Asset Performance Management",
        text: "Fraud",
        color: "orange",
        icon: "lucide:boxes",
        link: "/solutions/asset-performance-management"

      },
      {
        title: "Security & Intelligence",
        text: "Espionage",
        color: "purple",
        icon: "icon-park-solid:protect",
        link: "/solutions/security-intelligence"
      },
      {

        title: "Healthcare & Personalized Pathways",
        text: "Insurance fraud",
        color: "green",
        icon: "mdi:medicine-bottle",
        link: "/solutions/healthcare-personalized-pathways"
      }
    ],
    tags: [
      "Root-cause analysis",
      "Entity resolution",
      "Geo analysis"
    ]
  },
  {
    title: "Auditing",
    subtitle: "What is the deviation from the standard",
    items: [
      {
        title: "Asset Performance Management",
        text: "Risk management",
        color: "orange",
        icon: "lucide:boxes",
        link: "/solutions/asset-performance-management"
      },
      {
        title: "Security & Intelligence",
        text: "Risk management",
        color: "purple",
        icon: "icon-park-solid:protect",
        link: "/solutions/security-intelligence"
      },
      {
        title: "Healthcare & Personalized Pathways",
        text: "Compliance",
        color: "green",
        icon: "mdi:medicine-bottle",
        link: "/solutions/healthcare-personalized-pathways"
      }
    ],
    tags: [
      "Entity resolution",
      "Multi-criteria decision-making",
      "Situational awareness"
    ]
  },
  {
    title: "Personalization",
    subtitle: "Few have specific unmet needs",
    items: [
      {
        title: "Asset Performance Management",
        text: "Configurable assets + customer experience",
        color: "orange",
        icon: "lucide:boxes",
        link: "/solutions/asset-performance-management"
      },
      {
        title: "Security & Intelligence",
        text: "Prevention",
        color: "purple",
        icon: "icon-park-solid:protect",
        link: "/solutions/security-intelligence"
      },
      {
        title: "Healthcare & Personalized Pathways",
        text: "Personalized therapies",
        color: "green",
        icon: "mdi:medicine-bottle",
        link: "/solutions/healthcare-personalized-pathways"
      }
    ],
    tags: [
      "Entity resolution",
      "Multi-criteria decision-making",
      "Situational awareness"
    ]
  },
];
// exclude the root path (index.md) from the query by using $ne
const {data: solutions} = await useAsyncData("solutions", () =>
    queryContent("/solutions").where({_path: {$ne: '/solutions'}}).find()
);
</script>
