<template>
  <main>
    <div class="site-width section-padding-x mx-auto">
      <div class="prose dark:prose-invert max-w-full">
        <ContentDoc/>
      </div>
    </div>
    <div class="site-width section-padding mx-auto">
      <div class="flex flex-col gap-8 md:gap-12">
        <div v-for="(group, groupId) in team"
             :key="groupId">
          <h2 class="heading-sm font-heading opacity-70">{{ group.team_name }}</h2>
          <div class="grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-8">
            <TeamMember
                v-for="(member, memberId) in group.team"
                :key="memberId"
                :member="member"
                @click="showTeamMember(member)"
            />
          </div>
        </div>
      </div>
      <UModal v-model="isOpen">
        <template #default>
          <UButton color="tertiary" variant="ghost" icon="i-heroicons-x-mark-20-solid"
                   class="absolute top-4 right-4 z-10"
                   @click="isOpen = false"/>
          <div class="flex flex-col md:flex-row p-6 lg:p-8 gap-3 md:gap-8">
            <div
                class="flex flex-col gap-3 items-center group relative justify-start"
            >
              <div class="w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48 shrink-0"
                   v-if="selectedTeamMember?.thumbnail">
                <div class="gp-overlay gp-shape-mask relative -mt-2 w-full h-full">

                  <NuxtImg
                      :src="selectedTeamMember.thumbnail"
                      :alt="selectedTeamMember.firstName + ' ' + selectedTeamMember.lastName"
                      width="200"
                      height="200"
                      format="webp"
                      fit="cover"
                      loading="lazy"
                      sizes="sm:100px lg:200px"
                      class="pl-[10%] pt-[10%] w-full h-full object-cover"
                  />
                </div>
              </div>
            </div>
            <div>
              <div class="text-center md:text-left mb-2 md:mb-3">
                <h3 class="md:text-lg lg:text-xl font-title leading-snug">
                  {{ selectedTeamMember ? selectedTeamMember.firstName : 'No firstName set' }} <span
                    class="font-normal">{{
                    selectedTeamMember ? selectedTeamMember.lastName : 'No LastName set'
                  }}</span>
                </h3>
                <p class="text-sm md:text-base font-normal opacity-75">
                  {{ selectedTeamMember ? selectedTeamMember.role : 'No role set' }}</p>
              </div>
              <div class="prose dark:prose-invert prose-sm md:prose-base mx-auto">
                {{ selectedTeamMember ? selectedTeamMember.description : '' }}
              </div>
            </div>
          </div>
        </template>
      </UModal>
    </div>
  </main>
</template>

<script setup lang="ts">
defineOgImageComponent('BlogPost')
const isOpen = ref(false);
const selectedTeamMember = ref<TeamMember | null>(null);

const {data: team} = await useAsyncData("team-all", () =>
    queryContent("/_team").where({_partial: true}).find()
);

const showTeamMember = (member: TeamMember) => {
  selectedTeamMember.value = member;
  isOpen.value = true;
};
</script>