<template>
  <main>
    <div class="site-width section-padding-x mx-auto">
      <ContentDoc class="prose dark:prose-invert max-w-full"/>
    </div>
    <div class="site-width section-padding-x mx-auto">
      <div class="flex flex-nowrap gap-2 pb-4">
        <button @click="filter = ''" :class="{ 'active': filter === '' }" class="tab-btn">
          All
        </button>
        <button
            v-for="(type, index) in uniqueVideoTypes"
            :key="index"
            :class="{ 'active': filter === type }"
            @click="filter = filter === type ? '' : type"
            class="tab-btn"
        >
          {{ type }} ({{ videoTypeCounts[type] }})
        </button>
      </div>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
        <video-card
            v-for="(videoItem, id) in filteredVideos"
            :key="id"
            :item="videoItem"
            @click="selectVideo(videoItem as any)"
        />
      </div>

      <VideoModal :isOpen="isOpen" :selectedVideo="selectedVideo" @update:isOpen="isOpen = $event"/>
    </div>
  </main>
</template>

<script setup lang="ts">
defineOgImageComponent('BlogPost')
import {ref, computed, onMounted} from 'vue';
import {useAsyncData, useRoute, useRouter} from '#imports';
import VideoModal from '@/components/VideoModal.vue';

const {data: videos} = await useAsyncData("all-videos", () =>
    queryContent("/resources/_videos").where({_path: {$ne: '/resources/videos'}}).where({_partial: true}).sort({date: -1}).find()
);

const filter = ref('');
const isOpen = ref(false);
const selectedVideo = ref<Video | null>(null);
const route = useRoute();
const router = useRouter();

function selectVideo(video: Video) {
  selectedVideo.value = video;
  isOpen.value = true;
}

const uniqueVideoTypes = computed(() => {
  if (!videos.value) return [];
  const types = videos.value.map(video => video.type ? video.type.toLowerCase() : '');
  return [...new Set(types)];
});

const filteredVideos = computed(() => {
  if (!videos.value) return [];
  if (filter.value) {
    return videos.value.filter(video => video.type ? video.type.toLowerCase() === filter.value : false);
  }
  return videos.value;
});

const videoTypeCounts = computed<Record<string, number>>(() => {
  if (!videos.value) return {};
  const counts: Record<string, number> = {};
  for (const video of videos.value) {
    if (video.type) {
      const type = video.type.toLowerCase();
      if (counts[type]) {
        counts[type]++;
      } else {
        counts[type] = 1;
      }
    }
  }
  return counts;
});

onMounted(() => {
  const type = route.query.type;
  if (type && uniqueVideoTypes.value.includes(type)) {
    if (typeof type === "string") {
      filter.value = type;
    }
  }
});
</script>

<style lang="scss">
.tab-btn {
  @apply p-2 capitalize border-b-2 font-medium border-transparent hover:border-primary-600 dark:hover:border-primary-500 hover:text-primary-600  dark:hover:text-primary-500 transition-colors;
  &.active {
    @apply border-primary-600 dark:text-primary-500 text-primary-600 dark:border-primary-500;

  }
}
</style>
