<script setup lang="ts">

withDefaults(defineProps<{
  title?: string
  description?: string
}>(), {
  title: 'GraphPolaris',
})

</script>

<template>
  <div
      class="relative h-full w-full flex items-start justify-start bg-gray-50"
      style="background-image: url('/assets/og-background-light.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="flex items-start justify-start h-full">
      <div class="mt-16 ml-20">
        <GraphPolarisLogo class="w-[425px] h-[76px]"/>
      </div>
      <div class="grow w-full pl-20 pr-60 pt-8 pb-24">
        <h1 class="text-[60px] font-semibold mb-4 leading-tight" v-if="title">
          {{ title.length > 80 ? title.slice(0, 80) + '...' : title }}
        </h1>
        <p class="text-4xl pb-10 font-normal mb-0 leading-normal" v-if="description && title.length <= 45">
          {{ description.length > 120 ? description.slice(0, 120) + '...' : description }}
        </p>
      </div>
    </div>

    <!--    <svg xmlns="http://www.w3.org/2000/svg" width="1200" height="630" fill="none"-->
    <!--         class="w-full h-full absolute top-0 left-0">-->
    <!--      <g clip-path="url(#a)">-->
    <!--        <path fill="#fff" d="M0 0h1200v630H0z"/>-->
    <!--        <g clip-path="url(#b)" opacity=".1">-->
    <!--          <path fill="#4E586A" d="m1068.3-33.6 154.3 154.3L1068.3 275 914 120.7z"/>-->
    <!--          <path fill="#677283" d="m914-187.9 154.3 154.3L914 120.7 759.7-33.6z"/>-->
    <!--          <path fill="#A2AAB9" d="M605.5-187.9 759.8-33.6 605.5 120.7 451.2-33.6z"/>-->
    <!--          <path fill="#838DA0" d="M759.7-33.6 914 120.7 759.7 275 605.4 120.7z"/>-->
    <!--          <path fill="#A2AAB9" d="M605.5 120.7 759.8 275 605.5 429.3 451.2 275z"/>-->
    <!--          <path fill="#C4CBD4" d="m451.2-33.6 154.3 154.3L451.2 275 296.9 120.7z"/>-->
    <!--          <path fill="#E1E4EA" d="M297-187.9 451.1-33.6 296.9 120.7 142.6-33.6z"/>-->
    <!--          <path fill="#677283" d="M914 120.7 1068.3 275 914 429.3 759.7 275z"/>-->
    <!--          <path fill="#838DA0" d="M759.7 274.9 914 429.2 759.7 583.5 605.5 429.2z"/>-->
    <!--          <path fill="#A2AAB9" d="m605.5 429.2 154.3 154.3-154.3 154.3-154.3-154.3z"/>-->
    <!--          <path fill="#C4CBD4" d="m451.2 275 154.3 154.2-154.3 154.3L297 429.2z"/>-->
    <!--          <path fill="#E1E4EA" d="M296.9 120.7 451.2 275 296.9 429.3 142.6 275z"/>-->
    <!--          <path fill="#EAECF1" d="m142.6-33.6 154.3 154.3L142.6 275-11.7 120.7z"/>-->
    <!--          <path fill="#4E586A" d="m1068.3 275 154.3 154.2-154.3 154.3L914 429.2z"/>-->
    <!--          <path fill="#384457" d="M1222.6 120.7 1376.9 275l-154.3 154.3L1068.3 275z"/>-->
    <!--          <path fill="#677283" d="m914 429.2 154.3 154.3L914 737.8 759.7 583.5z"/>-->
    <!--          <path fill="#838DA0" d="M759.7 583.5 914 737.8 759.7 892 605.4 737.8z"/>-->
    <!--          <path fill="#C4CBD4" d="m451.2 583.5 154.3 154.3-154.3 154.3-154.3-154.3z"/>-->
    <!--          <path fill="#E1E4EA" d="m297 429.2 154.2 154.3L297 737.8 142.6 583.5z"/>-->
    <!--          <path fill="#EAECF1" d="M142.6 274.9 297 429.2 142.6 583.5-11.6 429.2z"/>-->
    <!--          <path fill="#F2F4F7"-->
    <!--                d="M-11.7 120.7 142.6 275-11.7 429.2-166 275zm0-308.7L142.6-33.5-11.7 120.7-166-33.6zm0 617.2 154.3 154.3-154.3 154.3L-166 583.5z"/>-->
    <!--          <path fill="#EAECF1" d="M142.6 583.5 297 737.8 142.6 892-11.7 737.8z"/>-->
    <!--          <path fill="#384457"-->
    <!--                d="M1222.6 429.2 1377 583.5l-154.3 154.3-154.3-154.3zm0-617.1 154.3 154.3-154.3 154.3-154.3-154.3z"/>-->
    <!--          <path fill="#4E586A" d="m1068.3 583.5 154.3 154.3-154.3 154.3L914 737.8z"/>-->
    <!--        </g>-->
    <!--        <path fill="#DD662B" d="m1036.7-1.4 61.3-61.2 61.3 61.2-61.3 61.1z"/>-->
    <!--        <path fill="#EC7F32" d="m975.3 59.8 61.3-61.2 61.4 61.2-61.4 61.1z"/>-->
    <!--        <path fill="#FB9637" d="m1036.7 121 61.3-61.2 61.3 61.2-61.3 61z"/>-->
    <!--        <path fill="#FBA43E" d="m975.3 182.2 61.3-61.2 61.4 61.2-61.4 61.1z"/>-->
    <!--        <path fill="#FB9637" d="m914 121 61.3-61.2 61.3 61.2-61.3 61.1z"/>-->
    <!--        <path fill="#EC7F32" d="m1098 59.8 61.3-61.2 61.3 61.2-61.3 61.1z"/>-->
    <!--        <path fill="#FB9637" d="m1159.3 121 61.3-61.2L1282 121l-61.4 61.1z"/>-->
    <!--        <path fill="#FBA43E" d="m1098 182.2 61.3-61.2 61.3 61.2-61.3 61.1z"/>-->
    <!--        <path fill="#FAB043" d="m1036.7 243.3 61.3-61.1 61.3 61.1-61.3 61.2z"/>-->
    <!--        <path fill="#DD662B" d="m1159.3-1.4 61.3-61.2L1282-1.4l-61.4 61.1z"/>-->
    <!--        <path fill="#FAB043" d="m1159.3 243.3 61.3-61.1 61.4 61.1-61.4 61.2z"/>-->
    <!--        <path fill="#FABF49" d="m1098 304.5 61.3-61.1 61.3 61.1-61.3 61.2z"/>-->
    <!--        <path fill="#F9CB4E" d="m1159.3 365.7 61.3-61.1 61.4 61.1-61.4 61.2z"/>-->
    <!--      </g>-->
    <!--      <defs>-->
    <!--        <clipPath id="a">-->
    <!--          <path fill="#fff" d="M0 0h1200v630H0z"/>-->
    <!--        </clipPath>-->
    <!--        <clipPath id="b">-->
    <!--          <path fill="#fff" d="M0-332h1200V868H0z"/>-->
    <!--        </clipPath>-->
    <!--      </defs>-->
    <!--    </svg>-->
  </div>
</template>

<style lang="scss">
//.test {
//  background-image: url('/assets/og-background-light.jpg');
//  background-size: cover;
//  background-position: center;
//  background-repeat: no-repeat;
//}
</style>

