<template>
  <div
      class="relative h-full w-full flex items-start justify-start bg-gray-50"
      style="background-image: url('/assets/gp-1200x630.jpg'); background-repeat: no-repeat; background-size: cover;">
  </div>
</template>

