<template>
  <section class="not-prose max-w-full">
    <div class="grid sm:grid-cols-2 gap-2 sm:gap-4 md:gap-6">
      <a href="mailto:info@graphpolaris.com"
         class="flex flex-col group card card-link px-4 py-6 gap-2 text-center items-center justify-center no-underline">
        <NuxtIcon name="heroicons-outline:mail"
                  class="card-title dark:text-tertiary-400 text-3xl md:text-4 lg:text-6xl"/>
        <span class="card-title font-medium md:text-lg">info@graphpolaris.com</span>
      </a>
      <a href="https://www.linkedin.com/company/graphpolaris" target="_blank"
         class="flex flex-col group card card-link px-4 py-6 gap-2 text-center items-center justify-center no-underline">
        <NuxtIcon name="ion:logo-linkedin"
                  class="card-title text-secondary dark:text-tertiary-400 text-3xl md:text-4 lg:text-6xl"/>
        <span class="card-title font-medium md:text-lg">Via Linkedin</span>
      </a>
    </div>
    <!--
        <form action="#" class="space-y-6">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium">Your email</label>
            <input type="email" id="email"
                   class="shadow-sm bg-tertiary-50 focus:bg-light border border-tertiary-300 text-tertiary-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                   placeholder="name@domain.com" required>
          </div>
          <div>
            <label for="subject" class="block mb-2 text-sm font-medium">Subject</label>
            <input type="text" id="subject"
                   class="block p-3 w-full text-sm text-tertiary-900 bg-tertiary-50 rounded-lg border border-tertiary-300 shadow-sm focus:ring-primary-500 focus:border-primary-500"
                   placeholder="Let us know how we can help you" required>
          </div>
          <div class="sm:col-span-2">
            <label for="message" class="block mb-2 text-sm font-medium">Your
              message</label>
            <textarea id="message" rows="6"
                      class="block p-2.5 w-full text-sm text-tertiary-900 bg-tertiary-50 rounded-lg shadow-sm border border-tertiary-300 focus:ring-primary-500 focus:border-primary-500"
                      placeholder="Leave a comment..."></textarea>
          </div>
          <UButton
              type="submit"
              size="lg"
              color="primary"
              variant="solid"
              label="Send message"
          />
        </form>
    -->
  </section>
</template>
<script setup lang="ts">

</script>