<template>
  <!--  <section class="mt-4 py-3 lg:mt-8 md:py-6 grid md:grid-cols-3 lg:grid-cols-5 gap-6 lg:gap-8 not-prose">-->
  <section class="hero mt-4 py-3 lg:mt-8 md:py-6 grid md:grid-cols-3 lg:grid-cols-5 gap-6 lg:gap-8">
    <div class="mr-auto place-self-center md:col-span-2 lg:col-span-3">
      <h1 class="max-w-2xl mb-3 md:mb-4 heading font-heading">
        <ContentSlot :use="$slots.default" unwrap="p"/>
      </h1>
      <client-only>
        <p class="lead m-0" v-if="$slots.lead">
          <ContentSlot :use="$slots.lead" unwrap="p"/>
        </p>
      </client-only>
    </div>

    <div class="md:col-span-1 lg:col-span-2 md:flex items-center justify-center not-prose">
      <div class="hero-image"
           v-if="$slots.image">
        <ContentSlot :use="$slots.image" unwrap="p"/>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">

</script>

<style scoped>
.hero {
  max-width: 100%;
}

.hero-image {
  @apply flex bg-light max-h-[30vh] md:max-h-full rounded-lg md:rounded-xl shadow lg:shadow-lg overflow-hidden p-2;

  img {
    @apply max-w-full object-contain w-full mx-auto;

  }
}
</style>